@model CarSharingApp.Application.Contracts.Vehicle.CreateVehicleRequest;

<main class="container mt-5 mb-5">
    <div class="row g-5">
        <form id="createNewVehicleForm" class="row g-3 needs-validation" asp-controller="AddVehicle" asp-action="AddVehicle" method="post" enctype="multipart/form-data" novalidate>
            <div class="col-md-7 g-2 row justify-content-center">
                <h3 class="pb-2 mb-4 fst-italic border-bottom text-center">
                    Share Your Vehicle
                </h3>

                <div class="rounded" id="noCarImage">
                    <div class="w-full p-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="flex flex-col items-center">
                                <i class="fa fa-folder-open fa-4x"></i>
                                <span>Upload Vehicle Image <label class="text-danger">*</label></span>
                            </div>
                        </div>
                    </div>
                </div>

                <img class="img-fluid mt-3 mx-auto d-block rounded" id="carImage" style="height: auto" src="">

                <div class="row justify-content-center mt-3">
                    <div class="col-md-12 col-lg-10 col-12">
                        <div class="input-group"> 
                            <input id="ImageFileInputErrorValidationCustom" type="file" name="file" onchange="handleChange(event)" accept="image/png, image/jpeg" class="form-control" required onclick="SetInputAsRequireValidation(this)" />
                            <button class="btn btn-outline-secondary" type="button" id="unloadImageButton" onclick="UnloadImage(false, 'Image was unloaded successfully.')" disabled>Unload</button>
                            <div class="valid-feedback">
                                Uploaded successfully!
                            </div>
                            <div id="ImageFileInputErrorValidation" class="invalid-feedback">
                                Please upload vehicle Image.
                            </div>
                        </div>
                    </div>
                </div>

                <!--Image input starts here-->
                <input id="imageInputErrorValidationCustom" asp-for="Image" class="form-control" value="" hidden />
                <!--Image input ends here-->

                <h2 class="mt-4 mb-3">Specifications</h2>

                <div class="col-6">
                    <label for="productionYearErrorValidationCustom" class="form-label">Production year <label class="text-danger">*</label></label>
                    <input asp-for="ProductionYear" type="text" class="form-control" id="productionYearErrorValidationCustom" required maxlength="4" pattern="\d{4}" onclick="SetInputAsRequireValidation(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="firstNameErrorValidation" class="invalid-feedback">
                        Please provide a valid Production year.
                    </div>
                </div>

                <div class="col-6">
                    <label for="maxSpeedKphErrorValidationCustom" class="form-label">Max speed (KM/H) <label class="text-danger">*</label></label>
                    <input asp-for="MaxSpeedKph" type="text" class="form-control" id="maxSpeedKphErrorValidationCustom" required maxlength="4" pattern="^[1-9][0-9][0-9]$|^(1000)$" onclick="SetInputAsRequireValidation(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="maxSpeedKphErrorValidation" class="invalid-feedback">
                        Please provide a valid Max vehicle speed.
                    </div>
                </div>

                <div class="col-4">
                    <label for="exteriorColorErrorValidationCustom" class="form-label">Exterior color <label class="text-danger">*</label></label>
                    <select asp-for="ExteriorColor" class="form-select" id="exteriorColorErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                        <option selected disabled value="">Choose...</option>
                        @foreach (var color in CarSharingApp.Domain.SmartEnums.Colour.GetPossibleEnumerations())
                        {
                            <option value="@CarSharingApp.Domain.SmartEnums.Colour.FromName(color)">@color</option>
                        }
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="exteriorColorErrorValidation" class="invalid-feedback">
                        Please select vehicle Exterior color.
                    </div>
                </div>

                <div class="col-4">
                    <label for="interiorColorErrorValidationCustom" class="form-label">Interior color <label class="text-danger">*</label></label>
                    <select asp-for="InteriorColor" class="form-select" id="interiorColorErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                        <option selected disabled value="">Choose...</option>
                        @foreach (var color in CarSharingApp.Domain.SmartEnums.Colour.GetPossibleEnumerations())
                        {
                            <option value="@CarSharingApp.Domain.SmartEnums.Colour.FromName(color)">@color</option>
                        }
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="interiorColorErrorValidation" class="invalid-feedback">
                        Please select vehicle Interior color.
                    </div>
                </div>

                <div class="col-4">
                    <label for="drivetrainErrorValidationCustom" class="form-label">Drivetrain <label class="text-danger">*</label></label>
                    <select asp-for="Drivetrain" class="form-select" id="drivetrainErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                        <option selected disabled value="">Choose...</option>
                        @foreach (var drivetrain in CarSharingApp.Domain.SmartEnums.Drivetrain.GetPossibleEnumerations())
                        {
                            <option value="@CarSharingApp.Domain.SmartEnums.Drivetrain.FromName(drivetrain)">@drivetrain</option>
                        }
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="drivetrainErrorValidation" class="invalid-feedback">
                        Please select vehicle Drivetrain.
                    </div>
                </div>

                <div class="col-4">
                    <label for="fuelTypeErrorValidationCustom" class="form-label">Fuel type <label class="text-danger">*</label></label>
                    <select asp-for="FuelType" class="form-select" id="fuelTypeErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                        <option selected disabled value="">Choose...</option>
                        @foreach (var fuelType in CarSharingApp.Domain.SmartEnums.FuelType.GetPossibleEnumerations())
                        {
                            <option value="@CarSharingApp.Domain.SmartEnums.FuelType.FromName(fuelType)">@fuelType</option>
                        }
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="fuelTypeErrorValidation" class="invalid-feedback">
                        Please select vehicle Fuel type.
                    </div>
                </div>

                <div class="col-4">
                    <label for="transmissionErrorValidationCustom" class="form-label">Transmission <label class="text-danger">*</label></label>
                    <select asp-for="Transmission" class="form-select" id="transmissionErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                        <option selected disabled value="">Choose...</option>
                        @foreach (var transmission in CarSharingApp.Domain.SmartEnums.Transmission.GetPossibleEnumerations())
                        {
                            <option value="@CarSharingApp.Domain.SmartEnums.Transmission.FromName(transmission)">@transmission</option>
                        }
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="transmissionErrorValidation" class="invalid-feedback">
                        Please select vehicle Transmission.
                    </div>
                </div>

                <div class="col-4">
                    <label for="engineErrorValidationCustom" class="form-label">Engine <label class="text-danger">*</label></label>
                    <select asp-for="Engine" class="form-select" id="engineErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                        <option selected disabled value="">Choose...</option>
                        @foreach (var engine in CarSharingApp.Domain.SmartEnums.Engine.GetPossibleEnumerations())
                        {
                            <option value="@CarSharingApp.Domain.SmartEnums.Engine.FromName(engine)">@engine</option>
                        }
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="engineErrorValidation" class="invalid-feedback">
                        Please select vehicle Engine.
                    </div>
                </div>

                <div class="col-6">
                    <label for="vinErrorValidationCustom" class="form-label">VIN <label class="text-danger">*</label></label>
                    <input asp-for="VIN" type="text" class="form-control" id="vinErrorValidationCustom" required pattern="[A-HJ-NPR-Z0-9]{17}" onclick="SetInputAsRequireValidation(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="vinErrorValidation" class="invalid-feedback">
                        Please provide a valid VIN.
                    </div>
                </div>
                
                <hr class="featurette-divider mt-4">

                <h2 class="mt-2">Categories</h2>

                <label class="mt-2 mr-2 mb-3">Note: Here you can select any keywords that may be associated with your vehicle. If you can't add any of them, please, skip this section and move to the next one.</label>

                <div class="mt-2 text-center">
                    @foreach (var category in CarSharingApp.Domain.Enums.FlagEnums.GetPossibleValues<CarSharingApp.Domain.Enums.FlagEnums.Categories>())
                    {
                        if (category.Equals("None"))
                            continue;

                        <div class="form-check form-check-inline mb-3" style="margin-right: 5px; padding-left: 0px;">
                            <input type="checkbox" class="btn-check" id="btn-check-outlined-@category" autocomplete="off" value="@category" onchange="FilterCategories(this,'@category')">
                            <label class="btn btn-outline-info" for="btn-check-outlined-@category">@category</label><br>
                        </div>
                    }
                    <div class="d-flex flex-row visually-hidden">
                        <input asp-for="Categories" type="text" class="form-control text-center" style="width: 15%" id="categoriesInput" readonly>
                    </div>
                </div>

                <hr class="featurette-divider">

                <h2 class="mt-3">Address Info</h2>

                <label class="mt-2 mr-2">Note: Please fill all the current location fields of the vehicle down below, then click the «Search» button. If the address was found, a marker will appear on the map. If error occured, you will see error message and marker will not be set. If so, please try again.</label>

                <div class="col-6">
                    <label for="streetAddressValidationCustom" class="form-label">Street address <label class="text-danger">*</label></label>
                    <input asp-for="StreetAddress" type="text" class="form-control" id="streetAddressErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="streetAddressErrorValidation" class="invalid-feedback">
                        Please provide a Street address.
                    </div>
                </div>

                <div class="col-6">
                    <label for="aptSuiteEtcValidationCustom" class="form-label">Apt, suite, etc. <label class="text-danger">*</label></label>
                    <input asp-for="AptSuiteEtc" type="text" class="form-control" id="aptSuiteEtcErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="aptSuiteEtcErrorValidation" class="invalid-feedback">
                        Please provide vehicle Apt. or suite.
                    </div>
                </div>

                <div class="col-6">
                    <label for="countryValidationCustom" class="form-label">Country <label class="text-danger">*</label></label>
                    <select asp-for="Country" class="form-select" id="countryErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                        <option selected disabled value="">Choose...</option>
                        @foreach (var country in CarSharingApp.Domain.SmartEnums.Country.GetPossibleEnumerations())
                        {
                            <option value="@CarSharingApp.Domain.SmartEnums.Country.FromName(country)">@country</option>
                        }
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="countryErrorValidation" class="invalid-feedback">
                        Please provide a Country.
                    </div>
                </div>

                <div class="col-6">
                    <label for="cityValidationCustom" class="form-label">City <label class="text-danger">*</label></label>
                    <input asp-for="City" type="text" class="form-control" id="cityErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="cityErrorValidation" class="invalid-feedback">
                        Please provide a City.
                    </div>
                </div>

                <div class="mt-4">
                    <div class="container-fluid">
                        <div id="map" class="text-center" style="height: 400px; width: 100%;"></div>
                        <script>
                            var map;
                            function initMap() {
                                if ("@Model.Longitude" != "" && "@Model.Latitude" != "") {
                                    localStorage.setItem("marker-lat", @Model.Latitude);
                                    localStorage.setItem("marker-long", @Model.Longitude);
                                }

                                if (localStorage.hasOwnProperty("marker-lat") && localStorage.hasOwnProperty("marker-long")) {

                                    var latitCenter = JSON.parse(localStorage.getItem("marker-lat"));
                                    var longCenter = JSON.parse(localStorage.getItem("marker-long"));

                                    map = new google.maps.Map(document.getElementById('map'), {
                                        center: { lat: latitCenter, lng: longCenter },
                                        zoom: 11
                                    });
                                }
                                else {
                                    map = new google.maps.Map(document.getElementById('map'), {
                                        center: { lat: 53.90588468960213, lng: 27.555191727187893 },
                                        zoom: 11
                                    });
                                }
                            }
                        </script>

                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9AIXs7jB_3r8oRc1zd0i9p0nanEH5Q6M&callback=initMap" async defer></script>

                    </div>
                </div>

                <div>
                    <label for="latitudeValidationCustom" class="form-label visually-hidden">Latitude <label class="text-danger">*</label></label>
                    <input asp-for="Latitude" type="text" class="form-control visually-hidden" id="latitudeErrorValidationCustom" required pattern="^[0-9]*(?:\.[0-9]*)?$">
                    <div class="valid-feedback">
                        Marker was set successfully.
                    </div>
                    <div id="latitudeErrorValidation" class="invalid-feedback">
                        Marker must be set on the map before submit.
                    </div>
                    <input asp-for="Longitude" type="text" class="form-control visually-hidden" id="longitudeErrorValidationCustom" required pattern="^[0-9]*(?:\.[0-9]*)?$">
                </div>

                <label id="searchVehicleBtn" class="btn btn-outline-primary mt-3" style="width: 200px;" onclick="setUpTheMarker()">Search vehicle</label>
                <label id="resetMarkerBtn" class="btn btn-outline-warningmt-3 visually-hidden" style="width: 200px;" onclick="resetMarker()">Reset</label>
            </div>

            <div class="col-md-5">
                <div class="position-sticky row justify-content-center g-3" style="top: 4rem;">

                    <div class="col-12">
                        <label for="nameValidationCustom" class="form-label">Name <label class="text-danger">*</label></label>
                        <input asp-for="Name" type="text" minlength="3" maxlength="30" class="form-control" id="nameErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div id="cityErrorValidation" class="invalid-feedback">
                            Please provide vehicle Name. It must be at least 3 characters long and at most 40 characters long.
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="hourlyRentalPriceValidationCustom" class="form-label">Hourly tariff ($) <label class="text-danger">*</label></label>
                        <input asp-for="HourlyRentalPrice" type="text" class="form-control" id="hourlyRentalPriceErrorValidationCustom" pattern="^[1-9]$|^[1-9][0-9]$|^[1-9][0-9][0-9]$|^[1-9][0-9][0-9][0-9]$|^(10000)$" required onclick="SetInputAsRequireValidation(this)">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div id="hourlyRentalPriceErrorValidation" class="invalid-feedback">
                            Please provide a Hourly rental price. It must be somewhere between 1$ and 10000$.
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="dailyRentalPriceValidationCustom" class="form-label">Daily tariff ($) <label class="text-danger">*</label></label>
                        <input asp-for="DailyRentalPrice" type="text" class="form-control" id="dailyRentalPriceErrorValidationCustom" pattern="^[1-9]$|^[1-9][0-9]$|^[1-9][0-9][0-9]$|^[1-9][0-9][0-9][0-9]$|^(10000)$" required onclick="SetInputAsRequireValidation(this)">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div id="dailyRentalPriceErrorValidation" class="invalid-feedback">
                            Please provide a Daily rental price. It must be somewhere between 1$ and 10000$.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="briefDescriptionValidationCustom" class="form-label">Brief description <label class="text-danger">*</label></label>
                        <textarea asp-for="BriefDescription" type="text" minlength="30" maxlength="80" rows="3" style="resize: none" class="form-control" id="briefDescriptionErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)"></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div id="briefDescriptionErrorValidation" class="invalid-feedback">
                            Please provide a Brief description. It must be at least 30 characters long and at most 80 characters long.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="descriptionValidationCustom" class="form-label">Description <label class="text-danger">*</label></label>
                        <textarea asp-for="Description" type="text" minlength="50" maxlength="300" rows="8" style="resize: none" class="form-control" id="descriptionErrorValidationCustom" required onclick="SetInputAsRequireValidation(this)"></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div id="briefDescriptionErrorValidation" class="invalid-feedback">
                            Please provide a Description. It must be at least 50 characters long and at most 300 characters long.
                        </div>
                    </div>

                    <nav class="blog-pagination mt-4 d-flex justify-content-center" aria-label="Pagination">
                        <button type="submit" class="btn btn-outline-primary" style="width: 150px;">Share</button>
                    </nav>
                </div>

            </div>
        </form>

        <script>
            $('#createNewVehicleForm').submit(function () {
                if (vehicleCategories.length === 0){
                    document.getElementById("categoriesInput").value = "None";
                } else {
                    document.getElementById("categoriesInput").value = vehicleCategories.toString(); 
                }
            });
        </script>

        <div id="serverErrors" class="visually-hidden">
            <span id="aptSuiteEtcError" asp-validation-for="AptSuiteEtc"></span>
            <span id="briefDescriptionError" asp-validation-for="BriefDescription"></span>
            <span id="categoriesError" asp-validation-for="Categories"></span>
            <span id="cityError" asp-validation-for="City"></span>
            <span id="countryError" asp-validation-for="Country"></span>
            <span id="dailyRentalPriceError" asp-validation-for="DailyRentalPrice"></span>
            <span id="descriptionError" asp-validation-for="Description"></span>
            <span id="drivetrainError" asp-validation-for="Drivetrain"></span>
            <span id="engineError" asp-validation-for="Engine"></span>
            <span id="exteriorColorError" asp-validation-for="ExteriorColor"></span>
            <span id="fuelTypeError" asp-validation-for="FuelType"></span>
            <span id="hourlyRentalPriceError" asp-validation-for="HourlyRentalPrice"></span>
            <span id="imageError" asp-validation-for="Image"></span>
            <span id="interiorColorError" asp-validation-for="InteriorColor"></span>
            <span id="latitudeError" asp-validation-for="Latitude"></span>
            <span id="longitudeError" asp-validation-for="Longitude"></span>
            <span id="maxSpeedKphError" asp-validation-for="MaxSpeedKph"></span>
            <span id="nameError" asp-validation-for="Name"></span>
            <span id="productionYearError" asp-validation-for="ProductionYear"></span>
            <span id="streetAddressError" asp-validation-for="StreetAddress"></span>
            <span id="transmissionError" asp-validation-for="Transmission"></span>
            <span id="vinError" asp-validation-for="VIN"></span>
        </div>

    </div>

</main>

<script src="~/js/addVehiclePage.js" asp-append-version="true"></script>