@inject IConfiguration _configuration;

@model CarSharingApp.Application.Contracts.Customer.CustomerDataResponse


<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4 mt-3">
                    <div class="card-body text-center">
                        <img id="UserImage" src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], Model.Image))" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="mt-2 mb-3">Account Image</h5>
                        <div class="d-flex justify-content-center flex-column mb-2">

                            <!-- Button trigger modal with images -->
                            <button type="button" class="btn btn-outline-info mb-3" data-bs-toggle="modal" data-bs-target="#changeImageModal">Change Image</button>

                            <!-- Modal with images -->
                            <div class="modal fade" id="changeImageModal" tabindex="-1" aria-labelledby="changeImageModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="changeImageModalLabel">Select Any Image</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container marketing mt-2">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center mb-3">
                                                        <img id="Image1" name="image1.png" class="rounded-circle" src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], "image1.png"))" width="140" height="140">
                                                        <div class="form-check d-flex flex-row justify-content-center mt-2">
                                                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="flexRadioPicture1">
                                                            <label class="form-check-label" for="flexRadioPicture1">
                                                                Picture 1
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 text-center mb-3">
                                                        <img id="Image2" name="image2.png" class="rounded-circle" src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], "image2.png"))" width="140" height="140">
                                                        <div class="form-check d-flex justify-content-center mt-2">
                                                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="flexRadioPicture2">
                                                            <label class="form-check-label" for="flexRadioPicture2">
                                                                Picture 2
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 text-center mb-3">
                                                        <img id="Image3" name="image3.png" class="rounded-circle" src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], "image3.png"))" width="140" height="140">
                                                        <div class="form-check d-flex justify-content-center mt-2">
                                                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="flexRadioPicture3">
                                                            <label class="form-check-label" for="flexRadioPicture3">
                                                                Picture 3
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-lg-4 text-center mb-3">
                                                        <img id="Image4" name="image4.png" class="rounded-circle" src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], "image4.png"))" width="140" height="140">
                                                        <div class="form-check d-flex justify-content-center mt-2">
                                                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="flexRadioPicture4">
                                                            <label class="form-check-label" for="flexRadioPicture4">
                                                                Picture 4
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 text-center mb-3">
                                                        <img id="Image5" name="image5.png" class="rounded-circle" src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], "image5.png"))" width="140" height="140">
                                                        <div class="form-check d-flex justify-content-center mt-2">
                                                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="flexRadioPicture5">
                                                            <label class="form-check-label" for="flexRadioPicture5">
                                                                Picture 5
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 text-center mb-3">
                                                        <img id="Image6" name="image6.png" class="rounded-circle" src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], "image6.png"))" width="140" height="140">
                                                        <div class="form-check d-flex justify-content-center mt-2">
                                                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="flexRadioPicture6">
                                                            <label class="form-check-label" for="flexRadioPicture6">
                                                                Picture 6
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 text-center mb-3">
                                                        <img id="Image7" name="image7.png" class="rounded-circle" src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], "image7.png"))" width="140" height="140">
                                                        <div class="form-check d-flex justify-content-center mt-2">
                                                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="flexRadioPicture7">
                                                            <label class="form-check-label" for="flexRadioPicture7">
                                                                Picture 7
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-outline-primary" onclick="ApplyImageChanges()">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-outline-primary mb-3" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Change Password</button>

                            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="changePasswordModalLabel">Change Password Form</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form class="needs-validation" id="ChangePasswordForm" asp-controller="EditCustomerData" asp-action="ChangePassword" target="votar" method="post" onsubmit="SubmitChangePasswordForm(this)" novalidate>
                                            <div class="modal-body">
                                                <div class="form-group">

                                                    <label for="passwordErrorValidationCustom" class="col-form-label d-flex justify-content-start">Password <label class="text-danger ms-1">*</label></label>
                                                    <input type="password" name="newPassword" class="form-control" id="newPassword" maxlength="255" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,}$" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div id="passwordError" class="invalid-feedback">
                                                        Password must have: Minimum 8 characters, at least one uppercase and lowercase English letter, at least one digit and special character.
                                                    </div>

                                                </div>
                                                <div class="form-group mt-3 mb-3">
                                                    <label for="confirmPasswordErrorValidationCustom" class="form-label d-flex">Confirm password</label>
                                                    <input type="password" class="form-control" id="confirmNewPassword" maxlength="255" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{8,}$" required onclick="HideValidationError('confirmNewPassword')">
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div id="confirmPasswordError" class="invalid-feedback">
                                                        Password does not match the above one or invalid.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-outline-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <buton type="button" class="btn btn-outline-danger mb-3" onclick="ShowCancelChangesConfirmationAlert()">Cancel Changes</buton>
                            <button type="submit" form="userEditedDataForm" value="Submit" class="btn btn-outline-success mb-3">Save Changes</button>
                            <a asp-action="Index" asp-controller="Dashboard" type="button" class="btn btn-outline-secondary">Get Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">

                <h2 class="text-left ml-2">Change Account Info</h2>

                <div class="card mb-4">
                    <div class="card-body">

                        <iframe name="votar" style="display: none;"></iframe>

                        <form class="row needs-validation" method="post" target="votar" onsubmit="HideInputField('FirstName', this)" novalidate>
                            <div class="col-sm-3 d-flex align-items-center mb-2">
                                <p class="mb-0">First Name</p>
                            </div>

                            <div class="col-sm-6 d-flex flex-column justify-content-center mb-2">
                                <label id="FirstNameText" class="text-muted mb-0">@Model.FirstName</label>
                                <input id="FirstNameInput" type="text" class="form-control visually-hidden" required minlength="1" maxlength="20" pattern="^[^±!@@£$%^&*_+§¡€#¢§¶•ªº«\\/<>?:;|=.,]{1,20}$">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div id="firstNameErrorValidation" class="invalid-feedback">
                                    Please provide a valid First name.
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeFirstNameBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('FirstName')"><i class="far fa-pen-to-square me-2 text-center"></i>Change</button>
                                <button id="SaveFirstNameBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check me-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row needs-validation" method="post" target="votar" onsubmit="HideInputField('LastName', this)" novalidate>
                            <div class="col-sm-3 d-flex align-items-center mb-2">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center mb-2">
                                <label id="LastNameText" class="text-muted mb-0">@Model.LastName</label>
                                <input id="LastNameInput" type="text" class="form-control visually-hidden" required minlength="1" maxlength="20" pattern="^[^±!@@£$%^&*_+§¡€#¢§¶•ªº«\\/<>?:;|=.,]{1,20}$">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div id="lastNameErrorValidation" class="invalid-feedback">
                                    Please provide a valid Last name.
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeLastNameBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('LastName')"><i class="far fa-pen-to-square me-2 text-center"></i>Change</button>
                                <button id="SaveLastNameBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check me-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row needs-validation" method="post" target="votar" onsubmit="HideInputField('Username', this)" novalidate>
                            <div class="col-sm-3 d-flex align-items-center mb-2">
                                <p class="mb-0">Username</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center mb-2">
                                <label id="UsernameText" class="text-muted mb-0">@Model.Login</label>
                                <input id="UsernameInput" type="text" class="form-control visually-hidden" required minlength="5" maxlength="15" pattern="[^\s]+">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div id="usernameErrorValidation" class="invalid-feedback">
                                    Please provide a valid User name (Must be only one word).
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeUsernameBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('Username')"><i class="far fa-pen-to-square me-2 text-center"></i>Change</button>
                                <button id="SaveUsernameBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check me-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('Email', this)" novalidate>
                            <div class="col-sm-3 d-flex align-items-center mb-2">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center mb-2">
                                <label id="EmailText" class="text-muted mb-0">@Model.Email</label>
                                <input id="EmailInput" type="email" class="form-control visually-hidden" required maxlength="255" pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div id="emailErrorValidation" class="invalid-feedback">
                                    Please provide a valid Email address.
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeEmailBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('Email')"><i class="far fa-pen-to-square me-2 text-center"></i>Change</button>
                                <button id="SaveEmailBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check me-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('PhoneNumber', this)" novalidate>
                            <div class="col-sm-3 d-flex align-items-center mb-2">
                                <p class="mb-0">Phone Number</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center mb-2">
                                <label id="PhoneNumberText" class="text-muted mb-0">@Model.PhoneNumber</label>
                                <input id="PhoneNumberInput" type="tel" class="form-control visually-hidden" required pattern="\\(?\\+[0-9]{1,3}\\)? ?-?[0-9]{1,3} ?-?[0-9]{3,5} ?-?[0-9]{4}( ?-?[0-9]{3})? ?(\\w{1,10}\\s?\\d{1,6})?">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div id="phoneNumberErrorValidation" class="invalid-feedback">
                                    Please provide a valid Phone number.
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangePhoneNumberBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('PhoneNumber')"><i class="far fa-pen-to-square me-2 text-center"></i>Change</button>
                                <button id="SavePhoneNumberBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check me-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('DriverLicense', this)" novalidate>
                            <div class="col-sm-3 d-flex align-items-center mb-2">
                                <p class="mb-0">Driver's License</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center mb-2">
                                <label id="DriverLicenseText" class="text-muted mb-0">@Model.DriverLicenseIdentifier</label>
                                <input id="DriverLicenseInput" type="text" class="form-control visually-hidden" required maxlength="50">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div id="driverLicenseErrorValidation" class="invalid-feedback">
                                    Please provide a valid Driver license.
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeDriverLicenseBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('DriverLicense')"><i class="far fa-pen-to-square me-2 text-center"></i>Change</button>
                                <button id="SaveDriverLicenseBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check me-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('AccountDescription', this)" novalidate>
                            <div class="col-sm-3 d-flex align-items-center mb-2">
                                <p class="mb-0">Account Description</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center mb-2">
                                <label id="AccountDescriptionText" class="text-muted mb-0">@Model.ProfileDescription</label>
                                <input id="AccountDescriptionInput" type="text" class="form-control visually-hidden" required minlength="5" maxlength="100">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div id="profileDescriptionErrorValidation" class="invalid-feedback">
                                    Please provide a valid Profile description (Must be more then 5 and less then 100 symbols).
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeAccountDescriptionBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('AccountDescription')"><i class="far fa-pen-to-square me-2 text-center"></i>Change</button>
                                <button id="SaveAccountDescriptionBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check me-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <div class="row">
                            <div class="col-sm-5 d-flex align-items-center">
                                <p class="mb-2">Has Accepting News Sharing</p>
                            </div>
                            <div class="col-sm-7 d-flex justify-content-end">

                                @if(Model.HasAcceptedNewsSharing)
                                {
                                    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" onclick="ChangeIsAcceptingNewsModelState('True')" checked>
                                    <label class="btn btn-outline-success me-2 mb-0" for="success-outlined">Accept</label>

                                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" onclick="ChangeIsAcceptingNewsModelState('False')">
                                    <label class="btn btn-outline-danger mb-0" for="danger-outlined">Reject</label>
                                }
                                else
                                {
                                    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" onclick="ChangeIsAcceptingNewsModelState('True')">
                                    <label class="btn btn-outline-success me-2 mb-0" for="success-outlined">Accept</label>

                                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" onclick="ChangeIsAcceptingNewsModelState('False')" checked>
                                    <label class="btn btn-outline-danger mb-0" for="danger-outlined">Reject</label>
                                }
                            </div>
                        </div>

                    </div>
                </div>

                <form id="userEditedDataForm" asp-controller="EditCustomerData" asp-action="Edit" method="post" enctype="multipart/form-data" class="visually-hidden">
                    <input id="ModelFirstName" asp-for="FirstName" value="@Model.FirstName" class="form-control" readonly="readonly"/>
                    <input id="ModelLastName" asp-for="LastName" value="@Model.LastName" class="form-control" readonly="readonly" />
                    <input id="ModelUsername" asp-for="Login" value="@Model.Login" class="form-control" readonly="readonly" />
                    <input id="ModelEmail" asp-for="Email" value="@Model.Email" class="form-control" readonly="readonly" />
                    <input id="ModelPhoneNumber" asp-for="PhoneNumber" value="@Model.PhoneNumber" class="form-control" readonly="readonly" />
                    <input id="ModelDriverLicense" asp-for="DriverLicenseIdentifier" value="@Model.DriverLicenseIdentifier" class="form-control" readonly="readonly" />
                    <input id="ModelIsAcceptedNewsSharing" asp-for="HasAcceptedNewsSharing" type="checkbox" class="custom-control-input" readonly="readonly" >
                    <input id="ModelAccountDescription" asp-for="ProfileDescription" value="@Model.ProfileDescription" class="form-control" readonly="readonly" />
                    <input id="ModelUserImage" asp-for="Image" value="@Model.Image" class="form-control" readonly="readonly" />
                </form>

            </div>
        </div>
    </div>
</section>

<script src="~/js/editClientPersonalInfoPage.js" asp-append-version="true"></script>

<script>
    function ApplyImageChanges () {

        SetUpImageDependsOnTheModal('@(_configuration["AzureBlobStorage:CustomersAccountImagesPath"])');

        $('#changeImageModal').modal('hide')
    };

    function HideValidationError(elementId){
        document.getElementById(elementId).setAttribute("class", "form-control");
    }
</script>