@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarSharingApp</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarSharingApp.Web.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>

<body >
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Images/HomePage/samSolutionsLogoGrey.jpg" height="37" />
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #8f9497" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style = 'color: #c5c9cc;'" onmouseout="this.style = 'color: #8f9497'">
                                <i class="fa-solid fa-sun me-2"></i>Light
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-secondary active" href="#"><i class="fa-solid fa-moon me-2"></i>Light</a></li>
                                <li><a class="dropdown-item text-secondary" href="#"><i class="fa-solid fa-moon me-2"></i>Dark</a></li>
                            </ul>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">About Us</a>
                        </li>
                        <li class="nav-item me-1">
                            <a class="nav-link" asp-controller="Catalog" asp-action="Index">Catalog and Pricing</a>
                        </li>
                        @if (Accessor.HttpContext?.Session.GetString("JWToken") is not null)
                        {
                            <li class="nav-item">
                                <a id="ShareYourCarBtn" class="nav-link" asp-controller="AddVehicle" asp-action="Index">Share your vehicle</a>
                            </li>
                        }

                    </ul>

                    @if (Accessor.HttpContext?.Session.GetString("JWToken") is not null)
                    {
                        <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                            <li class="nav-item me-3 me-lg-0 dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/Images/HomePage/customerLogo.png" class="rounded-circle" height="30" loading="lazy" />
                                </a>
                                <ul id="dropdownMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "CustomerPersonalAccount")">My Account</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" onclick="ShowLogoutConfirmationAlert()">Logout</a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    }
                    else
                    {
                        <button id="SignInBtn" class="btn btn-outline-primary me-3" onclick="location.href='@Url.Action("Index","SignIn")'">Log In</button>
                        <button id="RegisterBtn" class="btn btn-outline-success me-3" onclick="location.href='@Url.Action("Index","Registration")'">Sign Up</button>
                    }

                </div>
            </div>
        </nav>


       

    </header>
    <div class="container">
        <main role="main" class="pb-5 pt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-white" style="background-color: #f1f1f1;">

        <div class="container pt-4">

            <section class="mb-4">

                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://www.facebook.com/gleb.sukristik"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://twitter.com/Glebyyyyyshka"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-twitter"></i>
                </a>

                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://gleb15a@gmail.com"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-google"></i>
                </a>

                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://Sorry/But/I/Dont/Have/Instagram"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-instagram"></i>
                </a>

                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://www.linkedin.com/in/glebyshka/"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://github.com/GlebTheProgrammer"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-github"></i>
                </a>
            </section>

        </div>

        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Made By:
            <a class="text-dark" href="https://www.linkedin.com/in/glebyshka/">Gleb Sukristik</a>
        </div>
    </footer>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/81f3a44f30.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        if (@(Accessor?.HttpContext?.Session.GetString("LoggedOut") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterLogout();
            @{Accessor?.HttpContext?.Session.Remove("LoggedOut");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("AddedNewVehicle") == null ? "false" : "true")) {
            ShowSuccessfulCarSharingMessage();
            @{Accessor?.HttpContext?.Session.Remove("AddedNewVehicle");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("FinishedActiveRental") == null ? "false" : "true")) {
            ShowSuccessfulOrderFinishedMessage();
            @{Accessor?.HttpContext?.Session.Remove("FinishedActiveRental");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("ChangedAccountData") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterUserHasChangedAccountData();
            @{Accessor?.HttpContext?.Session.Remove("ChangedAccountData");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("ChangedPassword") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterUserHasChangedPassword();
            @{Accessor?.HttpContext?.Session.Remove("ChangedPassword");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("ChangedVehicleData") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterUserHasChangedVehicleData();
            @{Accessor?.HttpContext?.Session.Remove("ChangedVehicleData");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("Registered") == null ? "false" : "true")) {
            ThrowRegistrationSuccessMessage();
            @{Accessor?.HttpContext?.Session.Remove("Registered");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("AuthorizationFailed") == null ? "false" : "true")) {
            ThrowSignInErrorMessage();
            @{Accessor?.HttpContext?.Session.Remove("AuthorizationFailed");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("SignedIn") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterLogIn();
            @{Accessor?.HttpContext?.Session.Remove("SignedIn");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("CancelledPayment") == null ? "false" : "true")) {
            ShowPurchaseCancelledMessage();
            @{Accessor?.HttpContext?.Session.Remove("CancelledPayment");}
        }
    });
</script>