@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor;
@inject IConfiguration _configuration;

<!DOCTYPE html>
<html id="layout" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarSharingApp</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarSharingApp.Web.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>

<body >
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Images/HomePage/samSolutionsLogo.png" height="37" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown ms-1 me-1">
                            <a id="theme" class="nav-link dropdown-toggle d-flex align-items-center ms-2 me-2" style="color: #8f9497" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" onmouseover="this.style = 'color: #c5c9cc;'" onmouseout="this.style = 'color: #8f9497'">
                                <i id="themeIcon" class="fa-solid fa-sun me-2 mt-1"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" id="setLightTheme" class="dropdown-item text-secondary"><i class="fa-solid fa-sun me-2"></i>Light</a></li>
                                <li><a href="javascript:void(0);" id="setDarkTheme" class="dropdown-item text-secondary"><i class="fa-solid fa-moon me-2"></i>Dark</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ms-1 me-1">
                            <a class="nav-link ms-2 me-2" asp-controller="Home" asp-action="Index">About Us</a>
                        </li>
                        <li class="nav-item ms-1 me-1">
                            <a class="nav-link ms-2 me-2" asp-controller="Catalog" asp-action="Index">Catalog and Pricing</a>
                        </li>
                        <li class="nav-item ms-1 me-1">
                            <a class="nav-link ms-2 me-2" asp-controller="SearchNearbyVehicles" asp-action="Index">Nearby Vehicles</a>
                        </li>
                        @if (Accessor?.HttpContext?.Session.GetString("JWToken") is not null)
                        {
                            <li class="nav-item ms-1 me-1">
                                <a id="ShareYourCarBtn" class="nav-link ms-2 me-2" asp-controller="AddVehicle" asp-action="Index">Share your vehicle</a>
                            </li>
                        }

                    </ul>

                    <script>
                        if (localStorage.getItem("Theme") === "light") {
                            document.getElementById("layout").setAttribute("data-bs-theme", "light");
                            document.getElementById("setLightTheme").setAttribute("class", "dropdown-item text-secondary active");
                            document.getElementById("themeIcon").setAttribute("class", "fa-solid fa-sun me-2 mt-1");

                        } else if (localStorage.getItem("Theme") === "dark") {
                            document.getElementById("layout").setAttribute("data-bs-theme", "dark");
                            document.getElementById("setDarkTheme").setAttribute("class", "dropdown-item text-secondary active");
                            document.getElementById("themeIcon").setAttribute("class", "fa-solid fa-moon me-2 mt-1");
                        } else {
                            document.getElementById("layout").setAttribute("data-bs-theme", "light");
                            document.getElementById("setLightTheme").setAttribute("class", "dropdown-item text-secondary active");
                            document.getElementById("themeIcon").setAttribute("class", "fa-solid fa-sun me-2 mt-1");
                        }
                    </script>

                    @if (Accessor?.HttpContext?.Session.GetString("JWToken") is not null)
                    {
                        <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                            <li class="nav-item me-3 me-lg-0 dropdown ms-1 me-1">
                                <a id="personalAccountLink" class="nav-link dropdown-toggle ms-2 me-2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
@*                                    <img src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], "image1.png"))" class="rounded-circle" height="30" loading="lazy" />*@
                                    <img src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], Accessor?.HttpContext?.Session.GetString("CustomerImage")))" class="rounded-circle" height="30" loading="lazy" />
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a href="@Url.Action("Index", "Dashboard")" id="myAccountChoice" class="dropdown-item text-secondary"><i class="fa-solid fa-user me-2"></i>Dashboard</a></li>
                                    <li><a href="javascript:void(0);" id="logoutChoice" class="dropdown-item text-secondary" onclick="ShowLogoutConfirmationAlert()"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <button id="SignInBtn" class="btn btn-outline-primary me-3" onclick="location.href='@Url.Action("Index","SignIn")'">Log In</button>
                        <button id="RegisterBtn" class="btn btn-outline-success me-3" onclick="location.href='@Url.Action("Index","Registration")'">Sign Up</button>
                    }

                </div>
            </div>
        </nav>


       

    </header>
    <div class="container">
        <main role="main" class="pt-5">
            @RenderBody()
        </main>
    </div>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container my-2">
        <!-- Footer -->
        <footer>
            <!-- Grid container -->
            <div>
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Sam solutions
                            </h6>
                            <p>
                                SaM Solutions is an international IT-services and software solutions provider with 
                                over 29 years of experience. We focus on IT consulting and custom software engineering services 
                                for both European and the U.S. markets, leveraging global resources.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                            <p>
                                <a class="link-secondary nav-link" href="https://www.sam-solutions.com/company/case-studies/website-functionality-enhancement-and-2-6-fold-loading-speed-increase/">Sitecore-based websites</a>
                            </p>
                            <p>
                                <a class="link-secondary nav-link" href="https://www.sam-solutions.com/company/case-studies/Innominate-case-study/">Scaling QA-Processes</a>
                            </p>
                            <p>
                                <a class="link-secondary nav-link" href="https://www.sam-solutions.com/company/case-studies/phytec-board-support-package/">Embedded Board Support Packages</a>
                            </p>
                            <p>
                                <a class="link-secondary nav-link" href="https://sam-solutions.by/company/case-studies/azh/">Physiotherapy Practices</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Useful links
                            </h6>
                            <p>
                                <a class="link-secondary nav-link" href="https://sam-solutions.by/">SaM Solutions Website</a>
                            </p>
                            <p>
                                <a class="link-secondary nav-link" href="https://sam-solutions.by/company/case-studies/">Case-Studies</a>
                            </p>
                            <p>
                                <a class="link-secondary nav-link" href="https://sam-solutions.by/industries/">Industries</a>
                            </p>
                            <p>
                                <a class="link-secondary nav-link" href="https://sam-solutions.by/career/info/">Career Info</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> Minsk, Filimonova 15, Belarus</p>
                            <p><i class="fas fa-envelope mr-3"></i> info@sam-solutions.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 375 17 309 17 09</p>
                            <p><i class="fas fa-print mr-3"></i> + 375 17 309 17 17</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="my-3">

                <!-- Section: Copyright -->
                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <!-- Copyright -->
                            <div class="p-3 d-flex">
                                © 2023 Copyright:
                                <a class="ms-2 me-2 link-secondary nav-link" href="https://by.linkedin.com/in/glebyshka">Gleb Sukristik</a>
                                &
                                <a class="ms-2 me-2 link-secondary nav-link" href="https://www.linkedin.com/in/vadzim-papko-b08a6875/">Vadzim Papko</a>
                            </div>
                            <!-- Copyright -->
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-secondary btn-floating m-1 link-secondary" href="https://ru-ru.facebook.com/SaMSolutionsBY/"
                               role="button">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-secondary btn-floating m-1 link-secondary" href="https://twitter.com/samsolutionsby"
                               role="button">
                                <i class="fab fa-twitter"></i>
                            </a>

                            <!-- Google -->
                            <a class="btn btn-outline-secondary btn-floating m-1 link-secondary" href="https://www.google.com/search?q=sam+solutions+google&oq=sam+solutions+google&aqs=chrome..69i57j69i64.3562j0j4&sourceid=chrome&ie=UTF-8"
                               role="button">
                                <i class="fab fa-google"></i>
                            </a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-secondary btn-floating m-1 link-secondary" href="https://www.instagram.com/samsolutions/"
                               role="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <!-- Grid column -->
                    </div>
                </section>
                <!-- Section: Copyright -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/81f3a44f30.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<script>
    document.getElementById("setDarkTheme").addEventListener("click", () => {
        document.getElementById("setLightTheme").setAttribute("class", "dropdown-item text-secondary");
        document.getElementById("setDarkTheme").setAttribute("class", "dropdown-item text-secondary active");

        document.getElementById("layout").setAttribute("data-bs-theme", "dark");
        document.getElementById("themeIcon").setAttribute("class", "fa-solid fa-moon me-2 mt-1");

        localStorage.setItem("Theme", "dark");
    });

    document.getElementById("setLightTheme").addEventListener("click", () => {
        document.getElementById("setLightTheme").setAttribute("class", "dropdown-item text-secondary active");
        document.getElementById("setDarkTheme").setAttribute("class", "dropdown-item text-secondary");

        document.getElementById("layout").setAttribute("data-bs-theme", "light");
        document.getElementById("themeIcon").setAttribute("class", "fa-solid fa-sun me-2 mt-1");

        localStorage.setItem("Theme", "light");
    });
</script>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        if (@(Accessor?.HttpContext?.Session.GetString("LoggedOut") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterLogout();
            @{Accessor?.HttpContext?.Session.Remove("LoggedOut");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("AddedNewVehicle") == null ? "false" : "true")) {
            ShowSuccessfulCarSharingMessage();
            @{Accessor?.HttpContext?.Session.Remove("AddedNewVehicle");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("FinishedActiveRental") == null ? "false" : "true")) {
            ShowSuccessfulOrderFinishedMessage();
            @{Accessor?.HttpContext?.Session.Remove("FinishedActiveRental");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("ChangedAccountData") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterUserHasChangedAccountData();
            @{Accessor?.HttpContext?.Session.Remove("ChangedAccountData");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("ChangedPassword") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterUserHasChangedPassword();
            @{Accessor?.HttpContext?.Session.Remove("ChangedPassword");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("ChangedVehicleData") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterUserHasChangedVehicleData();
            @{Accessor?.HttpContext?.Session.Remove("ChangedVehicleData");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("Registered") == null ? "false" : "true")) {
            ThrowRegistrationSuccessMessage();
            @{Accessor?.HttpContext?.Session.Remove("Registered");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("AuthorizationFailed") == null ? "false" : "true")) {
            ThrowSignInErrorMessage();
            @{Accessor?.HttpContext?.Session.Remove("AuthorizationFailed");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("SignedIn") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterLogIn();
            @{Accessor?.HttpContext?.Session.Remove("SignedIn");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("CancelledPayment") == null ? "false" : "true")) {
            ShowPurchaseCancelledMessage();
            @{Accessor?.HttpContext?.Session.Remove("CancelledPayment");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("CompletedPayment") == null ? "false" : "true")) {
            ShowPurchaseCompletedMessage();
            @{Accessor?.HttpContext?.Session.Remove("CompletedPayment");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("FinishedRental") == null ? "false" : "true")) {
            ShowSuccessfulMessageAfterRentalWasFinished();
            @{Accessor?.HttpContext?.Session.Remove("FinishedRental");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("Unauthorized401Error") == null ? "false" : "true")) {
            ShowUnauthorizedErrorMessage();
            @{Accessor?.HttpContext?.Session.Remove("Unauthorized401Error");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("Forbidden403Error") == null ? "false" : "true")) {
            ShowForbiddenErrorMessage();
            @{Accessor?.HttpContext?.Session.Remove("Forbidden403Error");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("NotFound404Error") == null ? "false" : "true")) {
            ShowNotFoundErrorMessage();
            @{Accessor?.HttpContext?.Session.Remove("NotFound404Error");}
        }
        if (@(Accessor?.HttpContext?.Session.GetString("InternalServer500Error") == null ? "false" : "true")) {
            ShowInternalServerErrorMessage();
            @{Accessor?.HttpContext?.Session.Remove("InternalServer500Error");}
        }
    });
</script>