@model CarSharingApp.Application.Contracts.Payment.StripePaymentSessionRequest;

<form asp-controller="VehicleInformation" asp-action="CreateCheckoutSession" method="post">
    <!-- Modal -->
    <div class="modal fade" id="rentalModal" tabindex="-1" aria-labelledby="rentalModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start text-black p-4">
                    <h3 class="mb-4" style="color: #257cfd;">Order Details</h3>
                    <h5 class="modal-title mb-2" id="rentalModalLabel">Your order Starts from</h5>

                    <div class="md-form md-outline datepicker mb-4" id="customDays">
                        <input type="text" id="datetimesStarts" class="form-control" name="datetimesStarts" disabled>
                    </div>

                    <h5 class="modal-title mb-2" id="rentalModalLabel">Your order Ends at</h5>

                    <div class="md-form md-outline datepicker mb-5" id="customDays">
                        <input placeholder="Select date" type="text" id="datetimesEnds" class="form-control" name="datetimesEnds">
                    </div>

                    <script>
                        $(function () {
                            $('input[name="datetimesStarts"]').daterangepicker({
                                timePicker: true,
                                startDate: moment().startOf('hour').add(1, 'hour'), // Time for automatic input (From ...)
                                timePicker24Hour: true,
                                singleDatePicker: true,
                                locale: {
                                    format: 'HH:mm DD MMMM YYYY'
                                }
                            });
                        });

                        $(function () {
                            $('input[name="datetimesEnds"]').daterangepicker({
                                timePicker: true, // Is there an opportunity to set up time in hours and minutes
                                minDate: moment().startOf('hour').add(2, 'hour'), // Min date that can be set
                                maxDate: moment().startOf('hour').add(7, 'day').add(1, 'hour'), // Max date that can be set
                                startDate: moment().startOf('hour').add(2, 'hour'), // Time for automatic input (From ...)
                                timePicker24Hour: true, // 24-hours time zone
                                timePickerIncrement: 60, // We can edit only hours (minutes are always 00)
                                singleDatePicker: true, // DatePicker for only one date (ranged date is not possible)
                                locale: {
                                    format: 'HH:mm DD MMMM YYYY'
                                },
                                ranges: {
                                    '1 Hour': [moment().startOf('hour').add(1, 'hour'), moment().startOf('hour').add(2, 'hour')],
                                    '6 Hours': [moment().startOf('hour').add(1, 'hour'), moment().startOf('hour').add(7, 'hour')],
                                    '12 Hours': [moment().startOf('hour').add(1, 'hour'), moment().startOf('hour').add(13, 'hour')],
                                    '1 Day': [moment().startOf('hour').add(1, 'hour'), moment().startOf('hour').add(25, 'hour')],
                                    '3 Days': [moment().startOf('hour').add(1, 'hour'), moment().startOf('hour').add(73, 'hour')],
                                    '1 Week': [moment().startOf('hour').add(1, 'hour'), moment().startOf('hour').add(169, 'hour')]
                                },

                                onselect: function () {
                                    var dateObj = $(this).daterangepicker('getDate');
                                    alert(dateObj);
                                }
                            });
                        });
                    </script>

                    <p class="mb-0" style="color: #257cfd;">Payment summary</p>
                    <hr class="mt-2 mb-4"
                        style="height: 0; background-color: transparent; opacity: .75; border-top: 2px dashed #9e9e9e;">

                    <div class="d-flex justify-content-between">
                        <p class="fw-bold mb-0 text-muted">@Model.VehicleName (Daily payment)</p>
                        <p id="totalDailyPrice" class="text-muted mb-0">$0.00</p>
                    </div>

                    <div class="d-flex justify-content-between">
                        <p class="small mb-0 text-secondary">Hourly payment</p>
                        <p id="totalHourlyPrice" class="small mb-0 text-secondary">$@(Model.TariffPerHour).00</p>
                    </div>

                    <div class="d-flex justify-content-between">
                        <p class="fw-bold text-secondary">Total</p>
                        <p id="totalPrice" class="fw-bold" style="color: #257cfd;">$@(Model.TariffPerHour).00</p>

                        <input asp-for="VehicleId" class="visually-hidden" type="text" id="vehicleIdInput" value="@Model.VehicleId" readonly />
                        <input asp-for="VehicleOwnerId" class="visually-hidden" type="text" id="vehicleOwnerIdInput" value="@Model.VehicleOwnerId" readonly />

                        <input asp-for="Amount" class="visually-hidden" type="text" id="totalPriceInput" placeholder="amount" value="@Model.TariffPerHour" readonly />
                        <input asp-for="VehicleName" class="visually-hidden" type="text" value="@Model.VehicleName" readonly />

                        <input asp-for="TariffPerHour" class="visually-hidden" type="number" id="tariffHourInput" value="@Model.TariffPerHour" readonly />
                        <input asp-for="TariffPerDay" class="visually-hidden" type="number" id="tariffDayInput" value="@Model.TariffPerDay" readonly />

                        @{
                            DateTime utcNow = DateTime.UtcNow;
                        }

                        <input asp-for="RentalStartsDateTimeLocalStr" class="visually-hidden" type="text" id="rentalStartsDateTimeLocalStrInput" value="@(TimeZoneInfo.ConvertTimeFromUtc(new DateTime(utcNow.Year, utcNow.Month, utcNow.Day, utcNow.Hour, 0, 0), TimeZoneInfo.Local).AddHours(1).ToString("ddd MMM dd yyyy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture))" />
                        <input asp-for="RentalEndsDateTimeLocalStr" class="visually-hidden" type="text" id="rentalEndsDateTimeLocalStrInput" value="@(TimeZoneInfo.ConvertTimeFromUtc(new DateTime(utcNow.Year, utcNow.Month, utcNow.Day, utcNow.Hour, 0, 0), TimeZoneInfo.Local).AddHours(2).ToString("ddd MMM dd yyyy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture))" />
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center border-top-0 py-4">
                    <button type="submit" class="btn btn-outline-primary btn-lg mb-1">
                        Pay for the order
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/js/Partials/rentOrder.js" asp-append-version="true"></script>

<script>
    $('#datetimesEnds').on('hide.daterangepicker', function (ev, picker) {

        var datetimesStartsStr = $('#datetimesStarts').data('daterangepicker').startDate.toString();
        var datetimesEndsStr = $('#datetimesEnds').data('daterangepicker').endDate.toString();
        var vehicleHourlyTariff = parseInt("@Model.TariffPerHour");
        var vehicleDailyTariff = parseInt("@Model.TariffPerDay");

        document.getElementById("datetimesEnds").value = $('#datetimesEnds').data('daterangepicker').endDate.format('HH:mm DD MMMM YYYY');

        CalculateVehicleUsagePeriodAndSetUpAllInputs(datetimesStartsStr, datetimesEndsStr, vehicleHourlyTariff, vehicleDailyTariff);
    });
</script>
