@inject IConfiguration _configuration;
@model CarSharingApp.Application.Contracts.Vehicle.VehicleInformationResponse;

<main class="container mt-5 mb-5">

    @if (Model.IsOfferedCustomerVehicle)
    {
        <div class="alert text-center alert-warning position-sticky" role="alert">
            This is your vehicle. You can't rent your own vehicles, but still can check their pages.
        </div>
    }

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-2 mb-4 fst-italic border-bottom text-center">
                Vehicle Details
            </h3>

            <img class="img-fluid mt-3 mx-auto d-block rounded" style="height: auto" src="@(_configuration["AzureBlobStorage:VehiclesImagesPath"] + Model.Image)">

            <article class="blog-post mt-2">
                <h2 class="blog-post-title">@Model.Name</h2>
                <p class="blog-post-meta">Published: @(TimeZoneInfo.ConvertTimeFromUtc(Model.PublishedTime, TimeZoneInfo.Local).ToString("dd/MM/yyyy")) by <a href="@Url.Action("Index", "CustomerProfile", new {vehicleId = Model.Id})">@Model.CustomerLogin</a></p>

                <p>@Model.Description</p>
                <hr>
            </article>
            @{
                var latModel = float.Parse(Model.Latitude, System.Globalization.CultureInfo.InvariantCulture);
                var longModel = float.Parse(Model.Longitude, System.Globalization.CultureInfo.InvariantCulture);
            }
            <article class="blog-post">
                <h3>Location</h3>
                <p>You can see vehicle location (@Model.StreetAddress) on the map and check if it suits you:</p>
                <div class="mt-4 mb-2">
                    <div class="container-fluid">
                        <div id="map" class="text-center" style="height: 400px; width: 100%;"></div>
                        <script>
                            var map;
                            function initMap() {
                                var latitude = '@Html.Raw(Json.Serialize(latModel))';
                                var longitude = '@Html.Raw(Json.Serialize(longModel))';

                                var latSerialized = JSON.parse(latitude);
                                var longSerialized = JSON.parse(longitude);

                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: { lat: latSerialized, lng: longSerialized },
                                    zoom: 11
                                });

                                var marker = new google.maps.Marker(
                                {
                                    position: new google.maps.LatLng(latSerialized, longSerialized),
                                    map: map,
                                    icon: {
                                        url: "/Icons/vehicleIcon.png",
                                        scaledSize: new google.maps.Size(40, 40)
                                    }
                                });
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9AIXs7jB_3r8oRc1zd0i9p0nanEH5Q6M&callback=initMap" async defer></script>
                    </div>
                </div>
                <hr>
            </article>

            <article class="blog-post">
                <h3>Related Categories</h3>
                <p>Here you can see all the categories that vehicle's owner selected:</p>
                <div class="text-center">
                    @foreach (var category in Model.Categories)
                    {
                        if (category.Equals("None"))
                        {
                            <h4>Vehicle owner did not added any category.</h4>
                        }

                        <span class="badge rounded-pill text-bg-primary">@category</span>
                    }
                </div>
                <hr>
            </article>

            <article class="blog-post">
                <h3>Information table</h3>
                <p>Here you can see all the detailed information about the vehicle:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Production year</td>
                            <td class="text-center">@Model.ProductionYear</td>
                        </tr>
                        <tr>
                            <td>Max speed</td>
                            <td class="text-center">@Model.MaxSpeedKph</td>
                        </tr>
                        <tr>
                            <td>Exterior color</td>
                            <td class="text-center">@Model.ExteriorColour</td>
                        </tr>
                        <tr>
                            <td>Interior color</td>
                            <td class="text-center">@Model.InteriorColour</td>
                        </tr>
                        <tr>
                            <td>Drivetrain</td>
                            <td class="text-center">@Model.Drivetrain</td>
                        </tr>
                        <tr>
                            <td>Fuel type</td>
                            <td class="text-center">@Model.FuelType</td>
                        </tr>
                        <tr>
                            <td>Transmission</td>
                            <td class="text-center">@Model.Transmission</td>
                        </tr>
                        <tr>
                            <td>Engine</td>
                            <td class="text-center">@Model.Engine</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Times ordered</td>
                            <td class="text-center">@Model.TimesOrdered</td>
                        </tr>
                    </tfoot>
                </table>

                <p class="mt-4">This data was provided by the user who posted it. Our company is not responsible for the information you can see on this page.</p>
            </article>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 5rem;">
                <div class="mt-4 mb-4 rounded">
                    <h4 class="fst-italic">Description</h4>
                    <p class="mb-0">@Model.BriefDescription</p>
                </div>

                <div class="ml-4 mt-4">
                    <h4 class="fst-italic mb-3">Rating (0 reviews)</h4>
                    <span class="h6 mr-1">Condition:</span>
                    <span class="card-text">5 </span>
                    @{
                        double rating = 5;
                        for (int i = 0; i < 5; i++)
                        {
                            if (rating > i && rating >= i + 1)
                            {
                                    <span class="fa fa-star checked" style="color: orange"></span>
                            }
                            else
                            {
                                if (rating > i && rating < i + 1)
                                {
                                        <span class="fa fa-star-half-stroke" style="color: orange"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }
                        }
                    }
                </div>

                <div class="ml-4 mt-1">
                    <span class="h6 mr-1">Fuel consumption:</span>
                    <span class="card-text">5 </span>
                    @{
                        rating = 5;
                        for (int i = 0; i < 5; i++)
                        {
                            if (rating > i && rating >= i + 1)
                            {
                                    <span class="fa fa-star checked" style="color: orange"></span>
                            }
                            else
                            {
                                if (rating > i && rating < i + 1)
                                {
                                        <span class="fa fa-star-half-stroke" style="color: orange"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }
                        }
                    }
                </div>

                <div class="ml-4 mt-1">
                    <span class="h6 mr-1">Easy to drive:</span>
                    <span class="card-text">5 </span>
                    @{
                        rating = 5;
                        for (int i = 0; i < 5; i++)
                        {
                            if (rating > i && rating >= i + 1)
                            {
                                    <span class="fa fa-star checked" style="color: orange"></span>
                            }
                            else
                            {
                                if (rating > i && rating < i + 1)
                                {
                                        <span class="fa fa-star-half-stroke" style="color: orange"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }
                        }
                    }
                </div>

                <div class="ml-4 mt-1">
                    <span class="h6 mr-1">Family-friendly:</span>
                    <span class="card-text">5 </span>
                    @{
                        rating = 5;
                        for (int i = 0; i < 5; i++)
                        {
                            if (rating > i && rating >= i + 1)
                            {
                                    <span class="fa fa-star checked" style="color: orange"></span>
                            }
                            else
                            {
                                if (rating > i && rating < i + 1)
                                {
                                        <span class="fa fa-star-half-stroke" style="color: orange"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }
                        }
                    }
                </div>

                <div class="ml-4 mt-1">
                    <span class="h6 mr-1">SUV:</span>
                    <span class="card-text">5 </span>
                    @{
                        rating = 5;
                        for (int i = 0; i < 5; i++)
                        {
                            if (rating > i && rating >= i + 1)
                            {
                                    <span class="fa fa-star checked" style="color: orange"></span>
                            }
                            else
                            {
                                if (rating > i && rating < i + 1)
                                {
                                        <span class="fa fa-star-half-stroke" style="color: orange"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }
                        }
                    }
                </div>

                <div class="ml-4 mt-4">
                    <span class="h4 mr-1">Overall:</span>
                    <span class="card-text">5 </span>
                    @{
                        rating = 5;
                        for (int i = 0; i < 5; i++)
                        {
                            if (rating > i && rating >= i + 1)
                            {
                                    <span class="fa fa-star checked" style="color: orange"></span>
                            }
                            else
                            {
                                if (rating > i && rating < i + 1)
                                {
                                        <span class="fa fa-star-half-stroke" style="color: orange"></span>
                                }
                                else
                                {
                                        <span class="fa fa-star"></span>
                                }
                            }
                        }
                    }
                </div>

                <div class="ml-4 mt-4">
                    <h4 class="fst-italic">Price</h4>
                    <h4 class="card-text">@Model.HourlyRentalPrice $<span class="text-muted h5">/hr - </span>@Model.DailyRentalPrice $<span class="text-muted h5">/day</span></h4>
                </div>

                <nav class="blog-pagination ml-4 mt-4" aria-label="Pagination">

                    <!-- Button trigger modal -->
                    @if (!Model.IsOfferedCustomerVehicle)
                    {
                        <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#rentalModal">
                            Order
                        </button>
                    }

                    <a class="btn btn-outline-secondary" asp-controller="Catalog" asp-action="Index">Get back</a>
                </nav>
            </div>
        </div>
    </div>

</main>

<div id="partialZone_PaymentModal">

</div>

<script>
    $('#partialZone_PaymentModal').load("/vehicle/rentalPartial", { vehicleId: "@Model.Id", vehicleName: "@Model.Name", vehicleOwnerId: "@Model.CustomerId", tariffPerHour: "@Model.HourlyRentalPrice", tariffPerDay: "@Model.DailyRentalPrice" });
</script>



