@using CarSharingApp.Models.ClientData
@model ClientEditInfoViewModel


<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4 mt-3">
                    <div class="card-body text-center">
                        <img id="UserImage" src="@Model.UserImage" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="mt-2 mb-3">Account Image</h5>
                        <div class="d-flex justify-content-center flex-column mb-2">

                            <!-- Button trigger modal with images -->
                            <button type="button" class="btn btn-outline-info mb-3" data-bs-toggle="modal" data-bs-target="#changeImageModal">Change Image</button>

                            <!-- Modal with images -->
                            <div class="modal fade" id="changeImageModal" tabindex="-1" aria-labelledby="changeImageModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="changeImageModalLabel">Select Any Image</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container marketing mt-2">
                                                <div class="row">
                                                    <div class="col-lg-4 text-center">
                                                        <img id="Image1" class="rounded-circle" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1.webp" width="140" height="140">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPicture1">
                                                            <label class="form-check-label" for="flexRadioPicture1">
                                                                Picture 1
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 text-center">
                                                        <img id="Image2" class="rounded-circle" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2.webp" width="140" height="140">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPicture2">
                                                            <label class="form-check-label" for="flexRadioPicture2">
                                                                Picture 2
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 text-center">
                                                        <img id="Image3" class="rounded-circle" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" width="140" height="140">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPicture3">
                                                            <label class="form-check-label" for="flexRadioPicture3">
                                                                Picture 3
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-lg-4 text-center">
                                                        <img id="Image4" class="rounded-circle" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4.webp" width="140" height="140">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPicture4">
                                                            <label class="form-check-label" for="flexRadioPicture4">
                                                                Picture 4
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 text-center">
                                                        <img id="Image5" class="rounded-circle" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5.webp" width="140" height="140">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPicture5">
                                                            <label class="form-check-label" for="flexRadioPicture5">
                                                                Picture 5
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 text-center">
                                                        <img id="Image6" class="rounded-circle" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp" width="140" height="140">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPicture6">
                                                            <label class="form-check-label" for="flexRadioPicture6">
                                                                Picture 6
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 text-center">
                                                        <img id="Image7" class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTdmrjoiXGVFEcd1cX9Arb1itXTr2u8EKNpw&usqp=CAU" width="140" height="140">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPicture7">
                                                            <label class="form-check-label" for="flexRadioPicture7">
                                                                Picture 7
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-outline-primary" onclick="ApplyImageChanges()">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-outline-primary mb-3" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>

                            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="changePasswordModalLabel">Change Password Form</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form id="ChangePasswordForm" asp-controller="EditUserPersonalInfo" asp-action="ChangeUserPassword" method="post" enctype="multipart/form-data" onsubmit="SubmitChangePasswordForm(event)">
                                            <div class="modal-body">
                                                    <div class="form-group">
                                                        <label class="col-form-label d-flex justify-content-start">New password:</label>
                                                        <input name="newPassword" type="password" class="form-control" id="newPassword" required maxlength="50">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-form-label d-flex justify-content-start">Confirm new password:</label>
                                                        <input type="password" class="form-control" id="confirmNewPassword" required maxlength="50" onfocus="HideErrorSpan('ConfirmPasswordError')">
                                                        <span id="ConfirmPasswordError" class="text-danger text-center visually-hidden">Value must be the same as in Password Field</span>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-outline-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <buton type="button" class="btn btn-outline-danger mb-3" onclick="ShowCancelChangesConfirmationAlert()">Cancel Changes</buton>
                            <button type="submit" form="userEditedDataForm" value="Submit" class="btn btn-outline-success mb-3">Save Changes</button>
                            <a asp-action="Index" asp-controller="UserPersonalAccount" type="button" class="btn btn-outline-secondary">Get Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">

                <h2 class="text-left ml-2">Change Account Info</h2>

                <div class="card mb-4">
                    <div class="card-body">

                        <iframe name="votar" style="display: none;"></iframe>

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('FirstName')">
                            <div class="col-sm-3 d-flex align-items-center">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center">
                                <span asp-validation-for="FirstName" id="FirstNameError" class="text-danger text-center flex-column"></span>
                                <label id="FirstNameText" class="text-muted mb-0">@Model.FirstName</label>
                                <input id="FirstNameInput" type="text" class="form-control visually-hidden" required maxlength="255" pattern="[A-Za-zа-яА-Я]{1,255}" onfocus="HideErrorSpan('FirstNameError')">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeFirstNameBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('FirstName')"><i class="far fa-pen-to-square pr-2 text-center"></i>Change</button>
                                <button id="SaveFirstNameBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check pr-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('LastName')">
                            <div class="col-sm-3 d-flex align-items-center">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center">
                                <span asp-validation-for="LastName" id="LastNameError" class="text-danger text-center flex-column"></span>
                                <label id="LastNameText" class="text-muted mb-0">@Model.LastName</label>
                                <input id="LastNameInput" type="text" class="form-control visually-hidden" required maxlength="255" pattern="[A-Za-zа-яА-Я]{1,255}" onfocus="HideErrorSpan('LastNameError')">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeLastNameBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('LastName')"><i class="far fa-pen-to-square pr-2 text-center"></i>Change</button>
                                <button id="SaveLastNameBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check pr-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('Username')">
                            <div class="col-sm-3 d-flex align-items-center">
                                <p class="mb-0">Username</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center">
                                <span asp-validation-for="Username" id="UsernameError" class="text-danger text-center flex-column"></span>
                                <label id="UsernameText" class="text-muted mb-0">@Model.Username</label>
                                <input id="UsernameInput" type="text" class="form-control visually-hidden" required maxlength="255" pattern="[A-Za-z0-9а-яА-Я_-]{1,255}" onfocus="HideErrorSpan('UsernameError')">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeUsernameBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('Username')"><i class="far fa-pen-to-square pr-2 text-center"></i>Change</button>
                                <button id="SaveUsernameBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check pr-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('Email')">
                            <div class="col-sm-3 d-flex align-items-center">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center">
                                <span asp-validation-for="Email" id="EmailError" class="text-danger text-center flex-column"></span>
                                <label id="EmailText" class="text-muted mb-0">@Model.Email</label>
                                <input id="EmailInput" type="email" class="form-control visually-hidden" required maxlength="255" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" onfocus="HideErrorSpan('EmailError')">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeEmailBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('Email')"><i class="far fa-pen-to-square pr-2 text-center"></i>Change</button>
                                <button id="SaveEmailBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check pr-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('PhoneNumber')">
                            <div class="col-sm-3 d-flex align-items-center">
                                <p class="mb-0">Phone Number</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center">
                                <span asp-validation-for="PhoneNumber" id="PhoneNumberError" class="text-danger text-center flex-column"></span>
                                <label id="PhoneNumberText" class="text-muted mb-0">@Model.PhoneNumber</label>
                                <input id="PhoneNumberInput" type="tel" class="form-control visually-hidden" required maxlength="255" pattern="[+][0-9]{12}" onfocus="HideErrorSpan('PhoneNumberError')">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangePhoneNumberBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('PhoneNumber')"><i class="far fa-pen-to-square pr-2 text-center"></i>Change</button>
                                <button id="SavePhoneNumberBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check pr-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('DriverLicense')">
                            <div class="col-sm-3 d-flex align-items-center">
                                <p class="mb-0">Driver's License</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center">
                                <span asp-validation-for="DriverLicenseNumber" id="DriverLicenseError" class="text-danger text-center flex-column"></span>
                                <label id="DriverLicenseText" class="text-muted mb-0">@Model.DriverLicenseNumber</label>
                                <input id="DriverLicenseInput" type="text" class="form-control visually-hidden" required maxlength="12" pattern="[a-zA-Z0-9]{4,12}" onfocus="HideErrorSpan('DriverLicenseError')">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeDriverLicenseBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('DriverLicense')"><i class="far fa-pen-to-square pr-2 text-center"></i>Change</button>
                                <button id="SaveDriverLicenseBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check pr-2 text-center"></i>Save</button>
                            </div>
                        </form>

                        <hr class="featurette-divider">

                        <div class="row">
                            <div class="col-sm-5 d-flex align-items-center">
                                <p class="mb-0">Has Accepting News Sharing</p>
                            </div>
                            <div class="col-sm-7 d-flex justify-content-end">

                                @if(Model.IsAcceptedNewsSharing)
                                {
                                    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" onclick="ChangeIsAcceptingNewsModelState('True')" checked>
                                    <label class="btn btn-outline-success mr-2 mb-0" for="success-outlined">Accept</label>

                                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" onclick="ChangeIsAcceptingNewsModelState('False')">
                                    <label class="btn btn-outline-danger mb-0" for="danger-outlined">Reject</label>
                                }
                                else
                                {
                                    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" onclick="ChangeIsAcceptingNewsModelState('True')">
                                    <label class="btn btn-outline-success mr-2 mb-0" for="success-outlined">Accept</label>

                                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" onclick="ChangeIsAcceptingNewsModelState('False')" checked>
                                    <label class="btn btn-outline-danger mb-0" for="danger-outlined">Reject</label>
                                }

                            </div>
                        </div>

                        <hr class="featurette-divider">

                        <form class="row" method="post" target="votar" onsubmit="HideInputField('AccountDescription')">
                            <div class="col-sm-3 d-flex align-items-center">
                                <p class="mb-0">Account Description</p>
                            </div>
                            <div class="col-sm-6 d-flex flex-column justify-content-center">
                                <span asp-validation-for="AccountDescription" id="AccountDescriptionError" class="text-danger text-center flex-column"></span>
                                <label id="AccountDescriptionText" class="text-muted mb-0">@Model.AccountDescription</label>
                                <input id="AccountDescriptionInput" type="text" class="form-control visually-hidden" required maxlength="80" onfocus="HideErrorSpan('AccountDescriptionError')">
                            </div>
                            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                                <button id="ChangeAccountDescriptionBtn" type="button" class="btn btn-outline-warning" onclick="ShowInputField('AccountDescription')"><i class="far fa-pen-to-square pr-2 text-center"></i>Change</button>
                                <button id="SaveAccountDescriptionBtn" type="submit" class="btn btn-outline-success visually-hidden"><i class="fa-regular fa-circle-check pr-2 text-center"></i>Save</button>
                            </div>
                        </form>

                    </div>
                </div>

                <form id="userEditedDataForm" asp-controller="EditUserPersonalInfo" asp-action="ChangeUserPersonalInfo" method="post" enctype="multipart/form-data">
                    <input id="ModelFirstName" asp-for="FirstName" value="@Model.FirstName" class="form-control" readonly="readonly"/>
                    <input id="ModelLastName" asp-for="LastName" value="@Model.LastName" class="form-control" readonly="readonly" />
                    <input id="ModelUsername" asp-for="Username" value="@Model.Username" class="form-control" readonly="readonly" />
                    <input id="ModelEmail" asp-for="Email" value="@Model.Email" class="form-control" readonly="readonly" />
                    <input id="ModelPhoneNumber" asp-for="PhoneNumber" value="@Model.PhoneNumber" class="form-control" readonly="readonly" />
                    <input id="ModelDriverLicense" asp-for="DriverLicenseNumber" value="@Model.DriverLicenseNumber" class="form-control" readonly="readonly" />
                    <input id="ModelIsAcceptedNewsSharing" asp-for="IsAcceptedNewsSharing" type="checkbox" class="custom-control-input" readonly="readonly" >
                    <input id="ModelAccountDescription" asp-for="AccountDescription" value="@Model.AccountDescription" class="form-control" readonly="readonly" />
                    <input id="ModelUserImage" asp-for="UserImage" value="@Model.UserImage" class="form-control" readonly="readonly" />
                    <input id="ModelId" asp-for="Id" value="@Model.Id" class="form-control" readonly="readonly" />
                </form>

            </div>
        </div>
    </div>
</section>

<!--Script for showing the alert when user click on Cancel Changes button starts here-->
<script>
    function ShowCancelChangesConfirmationAlert() {
        Swal.fire({
            title: 'Are you sure?',
            text: "All new information will be removed!",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#4FA64F',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.reload(true);
            }
        });
    }
</script>
<!--Script for showing the alert when user click on Cancel Changes button ends here-->

<!-- Script for working with change password form starts here-->
<script>
    function SubmitChangePasswordForm (e) {
        e.preventDefault();
        if (document.getElementById("newPassword").value === document.getElementById("confirmNewPassword").value) {
            document.getElementById("ChangePasswordForm").submit();
        }
        else
        {
            document.getElementById("ConfirmPasswordError").setAttribute("class", "text-danger text-center");
        }
    };
</script>
<!-- Script for working with change password form ends here-->

<script>

    function ApplyImageChanges () {

        var imageInput = document.getElementById("ModelUserImage");
        var userImage = document.getElementById("UserImage");

        var image1 = document.getElementById("Image1").getAttribute('src');
        var image2 = document.getElementById("Image2").src;
        var image3 = document.getElementById("Image3").src;
        var image4 = document.getElementById("Image4").src;
        var image5 = document.getElementById("Image5").src;
        var image6 = document.getElementById("Image6").src;
        var image7 = document.getElementById("Image7").getAttribute('src');

        var image1Radio = document.getElementById("flexRadioPicture1");
        var image2Radio = document.getElementById("flexRadioPicture2");
        var image3Radio = document.getElementById("flexRadioPicture3");
        var image4Radio = document.getElementById("flexRadioPicture4");
        var image5Radio = document.getElementById("flexRadioPicture5");
        var image6Radio = document.getElementById("flexRadioPicture6");
        var image7Radio = document.getElementById("flexRadioPicture7");

        if (image1Radio.checked) {
            imageInput.value = image1;
            userImage.setAttribute("src", image1);
        }
        if (image2Radio.checked) {
            imageInput.value = image2;
            userImage.setAttribute("src", image2);
        }
        if (image3Radio.checked) {
            imageInput.value = image3;
            userImage.setAttribute("src", image3);
        }
        if (image4Radio.checked) {
            imageInput.value = image4;
            userImage.setAttribute("src", image4);
        }
        if (image5Radio.checked) {
            imageInput.value = image5;
            userImage.setAttribute("src", image5);
        }
        if (image6Radio.checked) {
            imageInput.value = image6;
            userImage.setAttribute("src", image6);
        }
        if (image7Radio.checked) {
            imageInput.value = image7;
            userImage.setAttribute("src", image7);
        }

        $('#changeImageModal').modal('hide')
    };
</script>

<script>
    function ChangeIsAcceptingNewsModelState(state) {

        var temp = document.getElementById("ModelIsAcceptedNewsSharing");

        if (state === 'True')
        {

            temp.setAttribute("checked", "");
        }
        else
        {

            temp.removeAttribute("checked");
        }
    }
</script>


<!--Script for changing item visibility starts here-->
<script>
    function ShowInputField(target) {

        var text = document.getElementById(target + "Text");
        var changeBtn = document.getElementById("Change" + target + "Btn");
        var input = document.getElementById(target + "Input");
        var saveBtn = document.getElementById("Save" + target + "Btn");

        text.setAttribute("class", "visually-hidden");
        changeBtn.setAttribute("class", "visually-hidden");

        input.setAttribute("class", "form-control");
        input.value = text.textContent;
        saveBtn.setAttribute("class", "btn btn-outline-success");
    }

    function HideInputField(target) {

        var text = document.getElementById(target + "Text");
        var changeBtn = document.getElementById("Change" + target + "Btn");
        var input = document.getElementById(target + "Input");
        var saveBtn = document.getElementById("Save" + target + "Btn");

        text.textContent = input.value;
        SetModelValue(target);

        input.setAttribute("class", "visually-hidden");
        saveBtn.setAttribute("class", "visually-hidden");

        text.setAttribute("class", "text-muted mb-0");
        changeBtn.setAttribute("class", "btn btn-outline-warning");
    }

    function SetModelValue(valueName) {

        var input = document.getElementById(valueName + "Input");
        var modelAttribute = document.getElementById("Model" + valueName);

        modelAttribute.value = input.value;
    }
</script>
<!--Script for changing item visibility ends here-->

<!--Script for hiding error message starts here-->
<script>
    function HideErrorSpan(componentId) {
        var component = document.getElementById(componentId);
        component.setAttribute("class", "visually-hidden");
    }
</script>
<!--Script for hiding error message ends here-->