@model List<CarSharingApp.Models.VehicleViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<CarSharingApp.Models.VehicleViewModel> vehiclesForFirstColumn = Model.Where((vehicle, index) => index % 3 == 0).ToList();
    List<CarSharingApp.Models.VehicleViewModel> vehiclesForSecondColumn = Model.Where((vehicle, index) => index % 3 == 1).ToList();
    List<CarSharingApp.Models.VehicleViewModel> vehiclesForThirdColumn = Model.Where((vehicle, index) => index % 3 == 2).ToList();
}

<h1 class="pt-5" style="color:black; text-align:center">Catalog</h1>

<div class="container">
    <div class="row mt-4">

        <div class="col">
            @{
                foreach (var vehicle in vehiclesForFirstColumn)
                {
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/2015-bmw-x6.jpg/1200px-2015-bmw-x6.jpg">

                        <div class="card-body">
                            <h3 class="card-title">@vehicle.Name</h3>
                            <p class="card-text">@vehicle.Description</p>
                            <h4 class="card-text">@vehicle.HourPrice $<span class="text-muted h5">/hr - </span>@vehicle.DailyPrice $<span class="text-muted h5">/day</span></h4>
                            <a href="#" class="btn btn-primary mt-2" style="width:max-content">Order</a>
                            <p></p>
                            <p class="card-text"><small class="text-muted">Last taken 3 mins ago</small></p>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="col">
            @{
                foreach (var vehicle in vehiclesForSecondColumn)
                {
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/2015-bmw-x6.jpg/1200px-2015-bmw-x6.jpg">

                        <div class="card-body">
                            <h3 class="card-title">@vehicle.Name</h3>
                            <p class="card-text">@vehicle.Description</p>
                            <h4 class="card-text">@vehicle.HourPrice $<span class="text-muted h5">/hr - </span>@vehicle.DailyPrice $<span class="text-muted h5">/day</span></h4>
                            <a href="#" class="btn btn-primary mt-2" style="width:max-content">Order</a>
                            <p></p>
                            <p class="card-text"><small class="text-muted">Last taken 3 mins ago</small></p>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="col">
            @{
                foreach (var vehicle in vehiclesForThirdColumn)
                {
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/2015-bmw-x6.jpg/1200px-2015-bmw-x6.jpg">

                        <div class="card-body">
                            <h3 class="card-title">@vehicle.Name</h3>
                            <p class="card-text">@vehicle.Description</p>
                            <h4 class="card-text">@vehicle.HourPrice $<span class="text-muted h5">/hr - </span>@vehicle.DailyPrice $<span class="text-muted h5">/day</span></h4>
                            <a href="#" class="btn btn-primary mt-2" style="width:max-content">Order</a>
                            <p></p>
                            <p class="card-text"><small class="text-muted">Last taken 3 mins ago</small></p>
                        </div>
                    </div>
                }
            }
        </div>


@*        <div class="col">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/2015-bmw-x6.jpg/1200px-2015-bmw-x6.jpg">

                <div class="card-body">
                    <h3 class="card-title">@Model[0].Name</h3>
                    <p class="card-text">@Model[0].Description</p>
                    <a href="#" class="btn btn-primary" style="width:max-content">Order</a>
                    <p></p>
                    <p class="card-text"><small class="text-muted">Last taken 3 mins ago</small></p>
                </div>
            </div>
        </div>*@



    </div>
</div>