@using CarSharingApp.Models.ApplicationData
@using CarSharingApp.Models.VehicleData

@using CarSharingApp.Views.CarSharing
@model CarSharingDataViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

@{
    List<VehicleViewModel> vehiclesForFirstColumn = Model.Vehicles.Where((vehicle, index) => index % 3 == 0).ToList();
    List<VehicleViewModel> vehiclesForSecondColumn = Model.Vehicles.Where((vehicle, index) => index % 3 == 1).ToList();
    List<VehicleViewModel> vehiclesForThirdColumn = Model.Vehicles.Where((vehicle, index) => index % 3 == 2).ToList();
}

<h1 class="pt-5 mb-4" style="color:black; text-align:center">Explore Sam Car's Prices for Daily and Hourly Car Rental</h1>

<hr class="featurette-divider mt-2 mb-3">

<div class="d-flex flex-row col-sm-12 ">
    <label class="mr-2">Show</label>
    <form asp-controller="CarSharing" asp-action="Index" method="post" >
        <select name="pageSizeStr" id="totalVehiclesDisplayedSelect" class="custom-select custom-select-sm form-control form-control-sm">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="9">9</option>
            <option value="12">12</option>
            <option value="15">15</option>
        </select>
        <button id="changeNumberOfVehiclesBtn" type="submit" class="visually-hidden"></button>
    </form>
    <label class="ml-2">vehicles</label>
    <div class="d-flex flex-row ml-auto">
        <label class="mr-2">Search:</label>
        <input type="search" class="form-control form-control-sm" placeholder="Type here" style="width:70%">
    </div>
</div>

<div class="container">
    <div class="row mt-4">

        <div class="col">
            @{
                foreach (var vehicle in vehiclesForFirstColumn)
                {
                    <div class="card mb-4">
                        <img class="card-img-top" src="@vehicle.Image">

                        <div class="card-body">
                            <h3 class="card-title">@vehicle.Name</h3>
                            <p class="card-text">@vehicle.BriefDescription</p>
                            <h4 class="card-text">@vehicle.Tariff.TariffPerHour $<span class="text-muted h5">/hr - </span>@vehicle.Tariff.TariffPerDay $<span class="text-muted h5">/day</span></h4>
                            <a href="@Url.Action("Index", "CarInformation", new {id = vehicle.Id})" class="btn btn-primary mt-2" style="width:max-content">Order</a>
                            <a href="#" class="btn btn-info mt-2 ml-1" style="width:max-content">Information</a>
                            <p></p>
                            <p class="card-text"><small class="text-muted">Last taken 3 mins ago</small></p>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="col">
            @{
                foreach (var vehicle in vehiclesForSecondColumn)
                {
                    <div class="card mb-4">
                        <img class="card-img-top" src="@vehicle.Image">

                        <div class="card-body">
                            <h3 class="card-title">@vehicle.Name</h3>
                            <p class="card-text">@vehicle.BriefDescription</p>
                            <h4 class="card-text">@vehicle.Tariff.TariffPerHour $<span class="text-muted h5">/hr - </span>@vehicle.Tariff.TariffPerDay $<span class="text-muted h5">/day</span></h4>
                            <a href="@Url.Action("Index", "CarInformation", new {vehicleId = vehicle.Id})" class="btn btn-primary mt-2" style="width:max-content">Order</a>
                            <a href="#" class="btn btn-info mt-2 ml-1" style="width:max-content">Information</a>
                            <p></p>
                            <p class="card-text"><small class="text-muted">Last taken 3 mins ago</small></p>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="col">
            @{
                foreach (var vehicle in vehiclesForThirdColumn)
                {
                    <div class="card mb-4">
                        <img class="card-img-top" src="@vehicle.Image">

                        <div class="card-body">
                            <h3 class="card-title">@vehicle.Name</h3>
                            <p class="card-text">@vehicle.BriefDescription</p>
                            <h4 class="card-text">@vehicle.Tariff.TariffPerHour $<span class="text-muted h5">/hr - </span>@vehicle.Tariff.TariffPerDay $<span class="text-muted h5">/day</span></h4>
                            <a href="@Url.Action("Index", "CarInformation", new {id = vehicle.Id})" class="btn btn-primary mt-2" style="width:max-content">Order</a>
                            <a href="#" class="btn btn-info mt-2 ml-1" style="width:max-content">Information</a>
                            <p></p>
                            <p class="card-text"><small class="text-muted">Last taken 3 mins ago</small></p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


<div class="d-flex flex-row col-sm-12 ">
    <div class="">
        <div class="dataTables_info" id="dtOrderExample_info" role="status" aria-live="polite">Showing @Model.StartVehiclesIndex to @Model.EndVehiclesIndex of @Model.NumberOfVehicles vehicles</div>
    </div>
    <div class="ml-auto">
        <div class="dataTables_paginate paging_simple_numbers" id="dtOrderExample_paginate">
            @if (pager.TotalPages > 0)
            {
                <ul class="pagination">

                    @if (pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="CarSharing" asp-action="Index" asp-route-page="1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="CarSharing" asp-action="Index" asp-route-page="@(pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {
                        <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-controller="CarSharing" asp-action="Index" asp-route-page="@pge">@pge</a>
                        </li>
                    }

                    @if (pager.CurrentPage < pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="CarSharing" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="CarSharing" asp-action="Index" asp-route-page="@(pager.TotalPages)">Last</a>
                        </li>
                    }

                </ul>
            }
        </div>
    </div>
</div>

<script>
    document.getElementById("totalVehiclesDisplayedSelect").addEventListener("change", function () {

        var btn = document.getElementById("changeNumberOfVehiclesBtn");
        btn.click();
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        var selectTag = document.getElementById("totalVehiclesDisplayedSelect");
        const options = Array.from(selectTag.options);
        const optionToSelect = options.find(item => item.text === "@Model.NumberOfVehiclesDisplayed");
        selectTag.value = optionToSelect.value;
    });
</script>
