@model CarSharingApp.Application.Contracts.Account.AccountActionNotesResponse;

<div class="container py-2">

    @foreach (var note in Model.ActionNotes)
    {
        if (CarSharingApp.Domain.SmartEnums.NoteType.FromName(note.Type) == CarSharingApp.Domain.SmartEnums.NoteType.AddedNewVehicle)
        {
            <div class="row">
                <div class="col py-2">
                    <div class="card border-success shadow">
                        <div class="card-body">
                            <div class="float-right text-success">@(TimeZoneInfo.ConvertTimeFromUtc(note.ActionMadeTime, TimeZoneInfo.Local).ToString("ddd MMM dd yyy h:mm tt", System.Globalization.CultureInfo.InvariantCulture))</div>
                            <h4 class="card-title text-success">@note.Type</h4>
                            <p class="card-text">@note.Note</p>
                            <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#t2_details" data-toggle="collapse" onclick="TryRedirect('@note.ActionEntityId.ToString()')">Show Details ▼</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col py-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-right text-muted">@(TimeZoneInfo.ConvertTimeFromUtc(note.ActionMadeTime, TimeZoneInfo.Local).ToString("ddd MMM dd yyy h:mm tt", System.Globalization.CultureInfo.InvariantCulture))</div>
                            <h4 class="card-title text-muted">@note.Type</h4>
                            <p class="card-text">@note.Note</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<script>
    function TryRedirect(id){
        $.ajax({
            type: 'GET',
            url: 'dashboard/checkAvailability/vehicle',
            contentType: "application/json; charset=utf-8",
            data: {id: id},
            cache: false,
            async: true,
            success: function(data) {
                if (data) {
                    window.location.href = "/vehicle/information?vehicleId=" + id
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                ShowErrorMessage("Vehicle does not exist any more.");
            }
        });
    }
</script>