@inject IConfiguration _configuration;
@model List<CarSharingApp.Application.Contracts.Account.AccountVehicleData>

@{
    CarSharingApp.Web.Models.Pager pager = new CarSharingApp.Web.Models.Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="card-body">
    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
        <div class="datatable-top d-flex align-items-center">
            <div class="datatable-search table-responsive-sm d-flex align-items-center">
                <label class="ms-2 me-4 text-nowrap">Search by:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="searchByNameRadio" value="option1" @(ViewBag.SearchBy == null || ViewBag.SearchBy == "Name" ? "checked" : "")>
                    <label class="form-check-label text-nowrap" for="searchByNameRadio">Name</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="searchByPriceRadio" value="option2" @(ViewBag.SearchBy == "Price" ? "checked" : "")>
                    <label class="form-check-label text-nowrap" for="searchByPriceRadio">Price</label>
                </div>
                <input id="searchInput" name="searchInput" type="text" class="form-control ms-4" placeholder="Type here..." value="@ViewBag.SearchInput">
                <button id="searchButton" type="button" class="btn btn-outline-secondary ms-2" style="border-radius: 30px;">Search</button>
            </div>
        </div>

        <hr class="mt-3">

        <div class="datatable-container mt-3 table-responsive-sm">
            <table id="datatablesSimple" class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">
                            <label class="datatable-sorter text-primary">Image</label>
                        </th>
                        <th class="text-center" scope="col">
                            <label class="datatable-sorter text-primary">Name</label>
                        </th>
                        <th class="text-center" scope="col">
                            <label class="datatable-sorter text-primary">Hourly price</label>
                        </th>
                        <th class="text-center" scope="col">
                            <label class="datatable-sorter text-primary">Daily price</label>
                        </th>
                        <th class="text-center" scope="col">
                            <label class="datatable-sorter text-primary">Published</label>
                        </th>
                        <th class="text-center" scope="col">
                            <label class="datatable-sorter text-primary">Times ordered</label>
                        </th>
                        <th class="text-center" scope="col">
                            <label class="datatable-sorter text-primary">Status</label>
                        </th>
                        <th class="text-center" scope="col">
                            <label class="datatable-sorter text-primary">Actions</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Count() > 0)
                    {
                        int index = 0;
                        @foreach(var vehicle in Model)
                        {
                            <tr data-index="@(index++)">
                                <td class="text-center"><img src="@(_configuration["AzureBlobStorage:VehiclesImagesPath"] + vehicle.Image)" class="rounded-circle" style="max-height: 30px; width: auto;" loading="lazy" /></td>
                                <td class="text-center">@vehicle.Name</td>
                                <td class="text-center">$@(vehicle.HourlyPrice.Length > 3 ? vehicle.HourlyPrice.Insert(vehicle.HourlyPrice.Length - 3, ",") : vehicle.HourlyPrice)</td>
                                <td class="text-center">$@(vehicle.DailyPrice.Length > 3 ? vehicle.DailyPrice.Insert(vehicle.DailyPrice.Length - 3, ",") : vehicle.DailyPrice)</td>
                                <td class="text-center">@(TimeZoneInfo.ConvertTimeFromUtc(vehicle.PublishedTime, TimeZoneInfo.Local).ToString("dd/MM/yyyy"))</td>
                                <td class="text-center">@vehicle.TimesOrdered</td>

                                @if (!vehicle.IsConfirmedByAdmin)
                                {
                                    <td class="text-center"><div class="badge bg-warning text-white rounded-pill">Processing</div></td>
                                    <td class="d-flex justify-content-center">
                                        <button class="btn btn-sm btn-outline-secondary ms-2" type="button" data-target="#t2_details" data-toggle="collapse" onclick="DeleteVehicle('@vehicle.VehicleId', '@vehicle.Image')">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                } else if (!vehicle.IsPublished)
                                {
                                    <td class="text-center"><div class="badge bg-danger text-white rounded-pill">Hidden</div></td>
                                    <td class="d-flex justify-content-center">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose...
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                                <h6 class="dropdown-header">Available actions:</h6>
                                                <a class="dropdown-item" href="#!" onclick="UpdateVehicleStatus('@vehicle.VehicleId', '@vehicle.IsConfirmedByAdmin', '@(!vehicle.IsPublished)', '@vehicle.IsOrdered')"><i class="fa-solid fa-share-nodes me-2"></i><span>Publish</span></a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "EditVehicleData", new {vehicleId = vehicle.VehicleId})"><i class="fa-solid fa-square-pen me-2"></i><span>Modify</span></a>
                                            </div>
                                        </div>
                                        <button class="btn btn-sm btn-outline-secondary ms-2" type="button" data-target="#t2_details" data-toggle="collapse" onclick="DeleteVehicle('@vehicle.VehicleId', '@vehicle.Image')">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                } else if(vehicle.IsPublished && !vehicle.IsOrdered)
                                {
                                    <td class="text-center"><div class="badge bg-success text-white rounded-pill">Published</div></td>
                                    <td class="d-flex justify-content-center">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose...
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                                <h6 class="dropdown-header">Available actions:</h6>
                                                <a class="dropdown-item" href="#!" onclick="UpdateVehicleStatus('@vehicle.VehicleId', '@vehicle.IsConfirmedByAdmin', '@(!vehicle.IsPublished)', '@vehicle.IsOrdered')"><i class="fa-solid fa-minus me-2"></i><span>Hide</span></a>
                                            </div>
                                        </div>
                                    </td>
                                } else
                                {
                                    <td class="text-center"><div class="badge bg-info text-white rounded-pill">Rented</div></td>
                                    <td class="d-flex justify-content-center">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose...
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                                <h6 class="dropdown-header">Available actions:</h6>
                                                <a class="dropdown-item" href="#!"><i class="fa-solid fa-circle-info me-2"></i><span>Rental info</span></a>
                                            </div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="8">
                                Nothing was found.
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        @if(Model.Count() > 0)
        {
            <div class="datatable-bottom d-flex align-items-center">
                <div class="datatable-info">Showing @((pager.CurrentPage - 1) * pager.PageSize + 1) to @(Model.Count() >= pager.PageSize ? (pager.CurrentPage - 1) * pager.PageSize + pager.PageSize : (pager.CurrentPage - 1) * pager.PageSize + Model.Count()) of @(ViewBag.VehiclesCount) vehicles</div>
                <nav class="datatable-pagination mb-0 ms-auto">
                    @if (pager.TotalPages > 0)
                    {
                        <ul class="pagination mb-0">

                            @if (pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link" onclick="ChangePage(1)">First</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link" onclick="ChangePage(@(pager.CurrentPage - 1))">Previous</a>
                                </li>
                            }

                            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                            {
                                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                    <a href="javascript:void(0);" class="page-link" onclick="ChangePage(@(pge))">@pge</a>
                                </li>
                            }

                            @if (pager.CurrentPage < pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link" onclick="ChangePage(@(pager.CurrentPage + 1))">Next</a>
                                </li>
                                <li class="page-item">
                                    <a href="javascript:void(0);" class="page-link" onclick="ChangePage(@(pager.TotalPages))">Last</a>
                                </li>
                            }

                        </ul>
                    }
                </nav>
            </div>
        }
    </div>
</div>

<script>
    // When user click search button on vehicles table
    $(function Search(){
        $('#searchButton').click(function () {
            var value = $("#searchInput").val();
            if (document.getElementById("searchByNameRadio").checked){
                $('#vehiclesPartialZone').load("/dashboard/vehiclesPartial?searchBy=Name&searchInput=" + value);
            } else if (document.getElementById("searchByPriceRadio").checked) {
                $('#vehiclesPartialZone').load("/dashboard/vehiclesPartial?searchBy=Price&searchInput=" + value);
            }
        })
    });

    // When user click next/prev page on vehicles table
    function ChangePage(pageNumber){
        var value = $("#searchInput").val();
        if (document.getElementById("searchByNameRadio").checked) {
            $('#vehiclesPartialZone').load("/dashboard/vehiclesPartial?searchBy=Name&searchInput=" + value + "&page=" + pageNumber);
        } else if (document.getElementById("searchByPriceRadio").checked) {
            $('#vehiclesPartialZone').load("/dashboard/vehiclesPartial?searchBy=Price&searchInput=" + value + "&page=" + pageNumber);
        }
    };

    // When user click delete vehicle button on vehicles table
    function DeleteVehicle(vehicleId, vehicleImage){

        Swal.fire({
            title: 'Are you sure?',
            text: "Vehicle will be deleted with all history!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#4FA64F',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                var value = $("#searchInput").val();
                if (document.getElementById("searchByNameRadio").checked) {
                    $('#vehiclesPartialZone').load("/dashboard/deleteAndRenderPartial/vehicle?vehicleId=" + vehicleId + "&vehicleImage=" + vehicleImage + "&searchBy=Name&searchInput=" + value, function (responseTxt, statusTxt, xhr) {
                        if (statusTxt === "success") {
                            UpdateStatisticsAndNotesArticles();
                            ShowSuccessfulMessageAfterVehicleWasDeleted();
                        }
                    });
                } else if (document.getElementById("searchByPriceRadio").checked) {
                    $('#vehiclesPartialZone').load("/dashboard/deleteAndRenderPartial/vehicle?vehicleId=" + vehicleId + "&vehicleImage=" + vehicleImage + "&searchBy=Price&searchInput=" + value, function (responseTxt, statusTxt, xhr) {
                        if (statusTxt === "success") {
                            UpdateStatisticsAndNotesArticles();
                            ShowSuccessfulMessageAfterVehicleWasDeleted();
                        }
                    });
                }
            }
        });
    }

    // When user click either hide or publish button on vehicle in vehicles table
    function UpdateVehicleStatus(vehicleId, isConfirmedByAdmin, isPublished, isOrdered){
        var value = $("#searchInput").val();
        if (document.getElementById("searchByNameRadio").checked) {
            $('#vehiclesPartialZone').load("/dashboard/updateAndRenderPartial/vehicle/status?vehicleId=" + vehicleId + "&isConfirmedByAdmin=" + isConfirmedByAdmin + "&isPublished=" + isPublished + "&isOrdered=" + isOrdered + "&searchBy=Name&searchInput=" + value, function (responseTxt, statusTxt, xhr) {
                if (statusTxt === "success") {
                    UpdateStatisticsArticle();
                }
            });
        } else if (document.getElementById("searchByPriceRadio").checked) {
            $('#vehiclesPartialZone').load("/dashboard/updateAndRenderPartial/vehicle/status?vehicleId=" + vehicleId + "&isConfirmedByAdmin=" + isConfirmedByAdmin + "&isPublished=" + isPublished + "&isOrdered=" + isOrdered + "&searchBy=Name&searchInput=" + value, function (responseTxt, statusTxt, xhr) {
                if (statusTxt === "success") {
                    UpdateStatisticsArticle();
                }
            });
        }
    }

    function UpdateStatisticsAndNotesArticles(){
        $('#notesPartialZone').load("/dashboard/notesPartial?type=All");
        $('#statisticsPartialZone').load("/dashboard/statisticsPartial");
    }
    function UpdateStatisticsArticle() {
        $('#statisticsPartialZone').load("/dashboard/statisticsPartial");
    }
</script>