@inject IConfiguration _configuration;
@model CarSharingApp.Application.Contracts.Account.AccountDataResponse;

<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="d-flex justify-content-between align-items-center card col-lg-12 p-3 mt-4">
                        <div class="col-lg-5 d-flex justify-content-center">
                            <img class="rounded-circle" src="@(string.Join("", _configuration["AzureBlobStorage:CustomersAccountImagesPath"], Model.Customer.Image))" width="170" height="170">
                        </div>
                        <div class="col-lg-7 d-flex flex-column">
                            <label class="text-center" style="font-size: 30px;">@string.Join(" ", Model.Customer.FirstName, Model.Customer.LastName)</label>
                            <label class="text-center" style="font-size: 15px;">@Model.Customer.Description</label>
                            <label class="text-center mt-2" style="font-size: 15px;">@Model.Customer.Email</label>
                            <label class="text-center" style="font-size: 15px;">@($"{Model.Customer.Country}, {Model.Customer.City}, {Model.Customer.StreetAddress} {Model.Customer.AptSuiteEtc}")</label>
                            <label class="text-center" style="font-size: 15px;">@Model.Customer.PhoneNumber</label>
                            <a class="btn btn-sm btn-outline-secondary mt-3 text-center ms-auto me-auto" asp-controller="EditCustomerData" asp-action="Index" style="width: 200px;" data-toggle="collapse">
                                Edit account info
                                <i class="fa-solid fa-square-pen ms-2"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-auto mt-4">
                        <div class="page-header-title d-flex h1">
                            <div class="page-header-icon me-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                                </svg>
                            </div>
                            Dashboard
                        </div>
                        <div class="page-header-subtitle">You can check account overview and activity summary below</div>
                    </div>
                    <div class="col-12 col-xl-auto mt-4">
                        <div class="input-group input-group-joined border-0" style="width: 14rem">
                            <span class="input-group-text">
                                <i class="fa-regular fa-clock"></i>
                            </span>
                            <span class="form-control d-flex justify-content-center" id="currentTimeInput"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main page content-->
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="col-xxl-4 col-xl-12 mb-4">
                <div class="card h-100">
                    <div class="card-body h-100 p-5">
                        <div class="row align-items-center">
                            <div class="col-xl-8 col-xxl-12">
                                <div class="text-center text-xl-start text-xxl-center mb-4 mb-xl-0 mb-xxl-4">
                                    <h1 class="text-primary">@($"Welcome back {Model.Customer.Username}!")</h1>
                                    <p class="text-gray-700 mb-0">Thank you for being with us. We value every customer who makes the world a better place by helping others, lending and paying for other people's vehicles. Watch, learn and explore new horizons with Sam Solutions Vehicles Sharing Service!</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-xxl-12 d-flex justify-content-center">
                                <img class="img-fluid" style="width: 260px;" src="~/Images/AccountDashboardPage/girl.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-xl-6 mb-4">
                <div class="card card-header-actions h-100">
                    <div class="card-header d-flex align-items-center text-primary">
                        Recent Activity
                        <div class="dropdown ms-2">
                            <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-fluid" style="width: 24px;" src="~/Images/AccountDashboardPage/menu.png">
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header">Filter Activity:</h6>
                                <a id="showAllNotesBtn" class="dropdown-item" href="#!"><i class="fa-solid fa-globe me-2"></i><span>All</span></a>
                                <a id="showAccountNotesBtn" class="dropdown-item" href="#!"><i class="fa-regular fa-user me-2"></i><span>Account</span></a>
                                <a id="showVehiclesNotesBtn" class="dropdown-item" href="#!"><i class="fa-solid fa-car-rear me-2"></i><span>Vehicles</span></a>
                                <a id="showOrdersNotesBtn" class="dropdown-item" href="#!"><i class="fa-regular fa-credit-card me-2"></i><span>Orders</span></a>
                            </div>
                        </div>
                    </div>

                    <div id="notesPartialZone">

                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-xl-6 mb-4">
                <div class="card card-header-actions h-100">
                    <div class="card-header d-flex align-items-center text-primary">
                        Statistics Tracker
                    </div>
                    <div id="statisticsPartialZone">

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xl-3 mb-4">
                <div class="card border-primary shadow">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-3">
                                <div class="text-white-75 small">Earnings (Monthly)</div>
                                <div class="text-lg fw-bold">$40,000</div>
                            </div>
                            <i class="fa-solid fa-calendar-days fa-2x"></i>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between small">
                        <a class="stretched-link link-secondary nav-link" href="#!">View Report</a>
                        <div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-4">
                <div class="card border-warning shadow">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-3">
                                <div class="text-white-75 small">Earnings (Annual)</div>
                                <div class="text-lg fw-bold">$215,000</div>
                            </div>
                            <i class="fa-solid fa-dollar-sign fa-2x"></i>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between small">
                        <a class="stretched-link link-secondary nav-link" href="#!">View Report</a>
                        <div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-4">
                <div class="card border-success shadow">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-3">
                                <div class="text-white-75 small">Vehicles Rented</div>
                                <div class="text-lg fw-bold">@Model.Customer.VehiclesRented</div>
                            </div>
                            <i class="fa-regular fa-square-check fa-2x"></i>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between small">
                        <a class="stretched-link link-secondary nav-link" href="#!">View Tasks</a>
                        <div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-4">
                <div class="card border-danger shadow">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-3">
                                <div class="text-white-75 small">Vehicles Shared</div>
                                <div class="text-lg fw-bold">@Model.Customer.VehiclesShared</div>
                            </div>
                            <i class="fa-regular fa-comment fa-2x"></i>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between small">
                        <a class="stretched-link link-secondary nav-link" href="#!">View Requests</a>
                        <div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header text-primary">Vehicles Management</div>
            <div id="vehiclesPartialZone">

            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header text-primary">Rentals Management</div>
            <div id="rentalsPartialZone">
            </div>
        </div>

    </div>
</main>


<script>
    $('#notesPartialZone').load("/dashboard/notesPartial?type=All");
    $('#statisticsPartialZone').load("/dashboard/statisticsPartial");
    $('#vehiclesPartialZone').load("/dashboard/vehiclesPartial");
    $('#rentalsPartialZone').load("/dashboard/rentalsPartial");

    $(function(){
        $('#showAllNotesBtn').click(function(){
            $('#notesPartialZone').load("/dashboard/notesPartial?type=All");
        })
    });
    $(function () {
        $('#showAccountNotesBtn').click(function () {
            $('#notesPartialZone').load("/dashboard/notesPartial?type=Account");
        })
    });
    $(function(){
        $('#showVehiclesNotesBtn').click(function () {
            $('#notesPartialZone').load("/dashboard/notesPartial?type=Vehicles");
        })
    });
    $(function(){
        $('#showOrdersNotesBtn').click(function(){
            $('#notesPartialZone').load("/dashboard/notesPartial?type=Orders");
        })
    });
</script>

<!--Refresh time script goes here-->
<script>
    const timeDisplay = document.getElementById("currentTimeInput");
    function refreshTime() {
        const dateString = new Date().toLocaleString();
        const formattedString = dateString.replace(", ", " - ");
        timeDisplay.textContent = formattedString;
    }
    setInterval(refreshTime, 1000);
</script>